      @import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=IBM+Plex+Serif:wght@500&display=swap');
      * {
        margin: 0;
        padding: 0;
        border: 0;
      }
      body {
        background-color: #738EC3;
        max-width: 800px;
        margin: 0 auto;
        text-align:center;
        padding: 3%;
        background-image:url("https://marthamaymusic.com/nmail4.png");
        background-size:100% auto;
        background-position:0 0;
        background-repeat:repeat-y;
      }
      #bg {
        position:fixed;
        z-index:-1;
        top:0;
        left:0;
        width:100%;
        height:100%;
      }
      img{
        max-width: 80%;
      }

      header {
        width: 98%;
      }

      #wrapper {
        background-color: #f0f6fb;
      }

      #social > li {
        display: inline;
      }

      #social > li > a > img {
        max-width: 35px;
      }

      h1,
      p {
        margin: 3%;
      }
      .btn {
        float:left;
        position:relative;
        height:50px;
        width:100%;
        width:100%;
        margin: 0 2% 1.5% 0;
        color: inherit;
        text-decoration: underline;
        font-weight: 800;
        padding: 8px 0;
        border-radius: 8px;
        letter-spacing: 2px;
      }
      #coverTitle
      {
        position: relative;
        left:0;
        width: 100%;
      }

      #logo
      {
        position: relative;
        margin-top:50px;
        margin-left:calc(50% - 250px);
        margin-bottom: 40px;
        width: 500px;
        flex-shrink: 0;
        z-index: 11;
      }
      #cover
      {

        position: relative;
        width: 100%;
        max-width: unset;
        background-size:cover;
        z-index: 10;

      }
      #title,#listen,.bigText
      {
        font-family: 'BIZ UDPMincho', serif;
        color:#FFFFFF;
      }
      #title
      {
        padding:10px;
        font-size: 30px;

      }
      #listenBtn
      {
        position: relative;
        height: auto;
        width: 400px;
        left: calc(50% - 240px);
        font-size: 40px;
        padding:40px;
        margin-bottom: 50px;
        z-index: 10;
      }
      .circle
      {
        position: absolute;
        height: 217px;
        width: 400px;
        top:-47px;
        margin-left:0%;

        background-image:url("https://marthamaymusic.com/Ellipse.png");
        background-size:cover;

      }
      .squiggly
      {
        padding: 40px;
        width: 220px;
      }
      .pic
      {

        border-radius:10px;
        border:0px solid white;
        /*
        border-radius: 0px;
        outline:20px solid white;
        */
      }
      .desc,.bigText
      {
        margin-left:10%;

        text-align: left;
        width: 80%;

      }
      .bigText
      {
        font-size: 85px;
      }
      .desc
      {

        font-family: 'IBM Plex Serif', serif;
        color:#FFFFFF;
        font-size: 20px;
      }
      .desc:last-of-type
      {
        font-size:25px;
        font-family: 'BIZ UDPMincho', serif;
        text-align: center;
      }
      #socials
      {

        height: 100px;
        margin-left:calc(50% - 130px);
        width: 260px;
      }
      .socials
      {
        width: 45px;
        padding:20px;
        float: left;
      }