

@media (min-width: 700px){
	#bgPic
	{
		position: absolute;
	background-size: 100%;
	background-size:cover;
	}
	body
	{
			background-size:100vw 100vh;
	background-size:120vw auto;

	}
	.page
	{
		overflow-x: hidden;
		overflow-y: auto;
		margin-top:80px;
		height: calc(100vh - 80px);
	}
	#main
	{
		height: 100vh;
	}
	  .content,.content-in
	{

	}
	.content
	{
		overflow: scroll !important;
		padding-bottom:10vh;
		top:0;
	}
	#title
	{
		font-size: 80px;
		text-align: center;
	}
	.pageHead
	{
		display: none;
	}
	#picture
	{
		background-size:80vh auto;
		height: 500px;
		width: 500px;
		margin-left:calc(50% - 250px); 
		border-radius: 10px;
	}
	#lnks
	{
    display: none;
	}

	
	

	#lnks-desktop
	{
		background: #FFFFFF15;
		display: block;
		position: fixed;
		top: 0;
		width: 100vw;
		height: 80px;
		z-index: 110;
		outline: 1px solid #FFFFFF50;
	}
	#dot
	{
		position: absolute;
		left:12.5%;
		margin-left:-5px;
		height: 2px;
		top:60px;
		width: 10px;
		border-radius: 10px;
		background-color: #FFFFFF;
		transition: left .08s ease-in-out;
	}
	/*
		height: 1px;
		bottom:-1px;
		top:unset;
		width: 25%;
		margin-left:-12.5%;
		background-color: #FFFFFF90;
	*/
	/*
		height: 60px;
		top:calc(50% - 30px);
		width: 150px;
		margin-left:calc(12.5% - 10px);
		margin-left:-75px;
		background-color: #FFFFFF30;
			*/
	
	.links
	{
		width: 80%;
		height: 100%;
	}
	.socials
	{
		height: 80px;
		width: 20%;
	}
	.linkPage,.linkIcon
	{
		float: left;
		transition:all .08s;
	}
	.linkPage:hover,.linkIcon:hover
	{
		color:white;
		background-color:#323;
	}
	.linkPage
	{
		position: relative;	
		font-size: 60px;
    margin: unset;
		width: 25%;
		padding: 40px 0 40px 0;
		letter-spacing: -5px;
		text-align: center;
		cursor: pointer;
    font-size: 35px;
		letter-spacing: -2px;
	}
	.linkIcon
	{
		float:left;
		width: 33%;
		height: 100%;
	}
		.card.text
	{
		margin-left:calc(50% - 250px);
		width: 500px;
		left:unset;
		width: 80%;
		margin-left:10%;
		font-size: 30px;
	}
	.card.event
	{
		float: left;
		width: calc(100% / 3);
		font-size: 30px;
		left:unset;

	}
	.card.event:last-of-type,.card.text:last-of-type
	{
		margin-bottom:unset;
	}
	.card.event:nth-child(odd)
	{
		
	}
   #eventCurrent, #eventPast
	{
		position: relative;
		margin-left:unset;
		width: 100%;
	}
  .title.events
	{
		font-size: 40px;
		line-height: 75px;
				background: #FFFFFF0D;
		position: relative;
		width: 100vw;
		height: 80px;
		outline: 1px solid #FFFFFF50;
		float:left;
	}
	.title:not(.events),.back
	{
		position: absolute;
		display: none;
		
	}
	.title
	{
		width: 100%;
		
		line-height: unset;
		text-align: center;
	}
	.title.past
	{
		position: relative;
	}
	.back
	{
		width: 30%;
	}
	
	.mail 
  {
		background: #FFFFFF0D;
		outline: 1px solid #FFFFFF50;
		border-radius: 2px;
		box-shadow: 0px 10px 10px #00000005;
		cursor: pointer;
    border-radius: 9px;
	}
	.mail:hover
	{
		background: #FFFFFF1D;		
	}

	
	/*
		.page
	{
		margin-top:100px;
		height: calc(100vh - 100px);
	}
	#lnks-desktop
	
	{
		width:calc(100% - 40px);
		margin:20px;
		overflow: hidden;
	}
	#dot
	{
		top:0;
		margin-left:-12.5%;
		width: 25%;
		height: 100%;
		border-radius: 0;
		background:#FFFFFF40;
	}
	.title
	{
		width:calc(100% - 40px) !important;
		margin:20px;
		border-radius:10px;
	}
	#lnks-desktop,.title,.mail
	{
		border-top:2px solid #FFFFFF30;
		border-top:unset;
		background:#F2F4B3 !important;
		color:#EEF;
		color:#443;
		border-radius: 10px;
	}
	.instagram,.tiktok,.spotify
	{
		filter:invert(75%);
	}
	#bg
	{
			filter:hue-rotate(170deg);
			filter:hue-rotate(130deg) brightness(130%) saturate(140%);
	}
	#picture
	{
    display: none;
		border-radius: 10px;
	}
	#bgPic
	{
		background:url('bgpic.jpg');
	}
	#bgPic-blur
	{
		background:url('bgpic_blur.jpg');
	}
	#bgPic,#bgPic-blur
	{
		position: fixed;
		top:0;
		left:0;
		height:100vh;
		width:100vw;
		background-size: 100%;
    background-position:  center 30%;
		z-index: 0;
	}
	#lnks-desktop
	{
	background:#FFFFFF50 !important;
background-image: linear-gradient(
  90deg,
  hsl(62deg 75% 83%) 0%,
  hsl(103deg 63% 77%) 50%,
  hsl(144deg 52% 70%) 100%
)
			!important;
	}*/
	/*
	.linkPage
	{
		width: calc(25% - 20px);
		margin-left:10px;
		border-radius: 100px !important;
		background:var(--bgClr);
		background:#D18ECB;
		color:#432443;
		box-shadow: 0px 0px 4px #00000020,0px 10px 10px #00000020;
	}
	.linkPage:hover
	{
		transform: scale(1.05,1.05);
		background:#D18EDB;
	}
	#lnks-desktop {
		background:unset;
		outline:unset;
		margin:20px 0 20px 0;
	}
	*/
	

	
}


@media (min-width: 700px) and (max-width: 1000px){

	.linkIcon
	{
		background-size: auto 30px;
	}
	.card.event
	{
    width: 50%;
	}
}



@media (max-width: 700px){
  .page:not(#main)
	{
		margin-top:120px;
	}
.pageHead
	{
		top:0;
	}
}

@media (max-width: 400px){

	#title,.title
	{
		font-size: 20vw;
	}
	.card.text.mail
	{
		font-size: 5vw;
		
	}
  .linkPage
	{
		font-size: 15vw;
	}
	#picture
	{
		background-size:80vh auto;
		max-width:400px;
	}
}
/*
@media (min-width: 700px){
	body
	{
		background-size:100vw auto;
		height: unset;
		position:absolute;
	}
  .page
	{
		display: block !important;
		position: relative;
		height:700px;
		width: 100%;
		overflow: unset;
	}
  .content,.content-in
	{
		height: unset;
		width: unset;
		overflow: unset;
	}
	#title
	{
		font-size: 80px;
		text-align: center;
	}
	#picture
	{
		background-size:80vh auto;
		height: 500px;
		width: 500px;
		margin-left:calc(50% - 250px);
	}
	#lnks
	{
		height: 75px;
		width: 700px;
		margin-left:calc(50% - 350px);
	}
#links
	{
		width: 70%;
	}
	.socials
	{
		width: 30%;
	}
	.linkPage,.linkIcon
	{
		float: left;
	}
	.linkPage
	{
		width: 25%;
		height: 100%;
		font-size: 40px;
		padding:10px;
	}
	.linkIcon
	{
		width: 33%;
		height: 100%;
	}
	.card.text
	{
		margin-left:calc(50% - 250px);
		width: 500px;
		left:unset;
	}
	.card.event
	{
		float: left;
		width: 300px;
		left:unset;
	}
}