

@media (min-width: 700px){
	body
	{
			background-size:100vw 100vh;
	background-size:120vw auto;

	}
	.page
	{
		overflow: unset;
		margin-top:80px;
	}
	  .content,.content-in
	{

	}
	.content
	{
		overflow: scroll !important;
		top:0;
	}
	#title
	{
		font-size: 80px;
		text-align: center;
	}
	#picture
	{
		background-size:80vh auto;
		height: 500px;
		width: 500px;
		margin-left:calc(50% - 250px); 
	}
	#lnks
	{
    display: none;
	}

	#lnks-desktop
	{
		background: #FFFFFF15;
		display: block;
		position: fixed;
		top: 0;
		width: 100vw;
		height: 80px;
		z-index: 110;
		outline: 1px solid #FFFFFF50;
	}
	#dot
	{
		position: absolute;
		left:12.5%;
		left:38%;
		left:62.5%;
		left:87.5%;
		margin-left:-5px;
		height: 5px;
		top:60px;
		width: 10px;
		border-radius: 10px;
		background-color: #FFFFFF;
		transition: left .08s ease-in-out;
	}
	.links
	{
		width: 80%;
		height: 100%;
	}
	.socials
	{
		height: 80px;
		width: 20%;
	}
	.linkPage,.linkIcon
	{
		float: left;
	}
	.linkPage
	{
		position: relative;	
		font-size: 60px;
    margin: unset;
		width: 25%;
		padding: 38px 0 38px 0;
		letter-spacing: -5px;
		text-align: center;
		cursor: pointer;
    font-size: 35px;
		letter-spacing: -2px;
	}
	.linkIcon
	{
		float:left;
		width: 33%;
		height: 100%;
	}

	
	.card.text
	{
		margin-left:calc(50% - 250px);
		width: 500px;
		left:unset;
		width: 80%;
		margin-left:10%;
		font-size: 30px;
	}
	.card.event
	{
		float: left;
		width: calc(100% / 3);
		font-size: 30px;
		left:unset;

	}
	.card.event:last-of-type,.card.text:last-of-type
	{
		margin-bottom:unset;
	}
	.card.event:nth-child(odd)
	{
		
	}
   #eventCurrent, #eventPast
	{
		position: relative;
		margin-left:unset;
		width: 100%;
	}
  .title.events
	{
		font-size: 40px;
		line-height: 75px;
				background: #FFFFFF0D;
		position: relative;
		width: 100vw;
		height: 80px;
		outline: 1px solid #FFFFFF50;
		float:left;
	}
	.title:not(.events),.back
	{
		position: absolute;
		display: none;
		
	}
	.title
	{
		width: 100%;
		
		line-height: unset;
		text-align: center;
	}
	.title.past
	{
		position: relative;
	}
	.back
	{
		width: 30%;
	}
}


@media (min-width: 700px) and (max-width: 1000px){

	.linkIcon
	{
		background-size: auto 30px;
	}
	.card.event
	{
    width: 50%;
	}
}



@media (max-width: 400px){

	#title,.title
	{
		font-size: 20vw;
	}
	.card.text.mail
	{
		font-size: 5vw;
		
	}
  .linkPage
	{
		font-size: 15vw;
	}
	#picture
	{
		background-size:80vh auto;
		max-width:400px;
	}
}
/*
@media (min-width: 700px){
	body
	{
		background-size:100vw auto;
		height: unset;
		position:absolute;
	}
  .page
	{
		display: block !important;
		position: relative;
		height:700px;
		width: 100%;
		overflow: unset;
	}
  .content,.content-in
	{
		height: unset;
		width: unset;
		overflow: unset;
	}
	#title
	{
		font-size: 80px;
		text-align: center;
	}
	#picture
	{
		background-size:80vh auto;
		height: 500px;
		width: 500px;
		margin-left:calc(50% - 250px);
	}
	#lnks
	{
		height: 75px;
		width: 700px;
		margin-left:calc(50% - 350px);
	}
#links
	{
		width: 70%;
	}
	.socials
	{
		width: 30%;
	}
	.linkPage,.linkIcon
	{
		float: left;
	}
	.linkPage
	{
		width: 25%;
		height: 100%;
		font-size: 40px;
		padding:10px;
	}
	.linkIcon
	{
		width: 33%;
		height: 100%;
	}
	.card.text
	{
		margin-left:calc(50% - 250px);
		width: 500px;
		left:unset;
	}
	.card.event
	{
		float: left;
		width: 300px;
		left:unset;
	}
}