@media (min-width: 700px){
	body
	{
		background-size:100vw auto;

	}
	#title
	{
		font-size: 150px;
	}
	#picture
	{
		background-size:80vh auto;
		max-width:400px;
	}
}
@media (max-width: 400px){

	#title
	{
		font-size: 20vw;
	}
	#picture
	{
		background-size:80vh auto;
		max-width:400px;
	}
}