
@media (max-width: 900px) and (min-width: 700px){
  .linkPage
	{
		font-size: 14pt !important;
		padding:25px 20px 25px 20px !important;
	}
	.linkIcon
	{
		background-size: 14pt !important;
	}
}
@media (min-width: 700px){
	#bgDesktop,#bgDesktopTop
	{
		display: block;
	}
	.mobileLogo
	{
		background-image:url('logo.svg');
		background-size:90%;
		background-repeat: no-repeat;
		background-position: center;
		height: 100vh;
		position: fixed;
		top:0;
		margin-left: calc(10vw + 10px);
		width: calc(80vw - 20px);
		padding: 0;
		z-index: 100;
		/*! margin-top: 20px; */
	}
	#bgPic
	{
		position: absolute;
	background-size: 100%;
	background-size:cover;
	}
	body
	{
		background-size:100vw;
		background-position-x: center;
		background-position-y: 10%;
	}
	.page
	{
		overflow-x: hidden;
		overflow-y: auto;
		margin-bottom:80px;
		height: calc(100vh - 80px);
	}
	#main
	{
		height: 100vh;
	}
	  .content,.content-in
	{

	}
	.content
	{
		overflow: scroll !important;
		padding-bottom:10vh;
		top:0;
	}
	#title
	{
		font-size: 80px;
		text-align: center;
	}
	.pageHead
	{
		display: none;
	}
	#picture
	{
		background-size:100% 100%;
		height: 500px;
		width: 500px;
		margin-left:calc(50% - 250px); 
		margin-left:0px; 
		border-radius: 1px;
	}
	.pic
	{
		width: calc(25% - 30px);
	}
	#lnks
	{
    display: none;
	}


	img.about
	{
		width: 40%;
		float: left;
	}
	#picAboutAlt
	{
		position: fixed;
		height: calc(100vh - 80px - 30px);
		top:0;
		right:0;
		width: 45%;
		border:15px solid white;
		background: url('aboutAlt.jpg');
		background-size: 100vh;
		z-index: 100;
		background-position: center;
	}
	#lnks-desktop
	{
		background: #FFFFFF15;
		display: block;
		position: fixed;
		bottom: 0;
		width: 100vw;
		height: 80px;
		z-index: 110;
		outline: 1px solid #FFFFFF50;
		background:var(--bgColor2);
		color:var(--fontColor2);
		/*-webkit-backdrop-filter: var(--bgFilter1);
    backdrop-filter: var(--bgFilter1);*/
	}
	#dot
	{
		position: absolute;
		left:10%;
		margin-bottom: -2px;
		height: 2px;
		bottom:0px;
		border-radius: 0px;
		background: var(--thinLineColor);
		background: #FFFFFF;
		transition: left .08s ease-in-out;
	}
	#listenButton
	{
		height: 80px;
		left: 25px;
		left: 0px;
		margin-top:0px;
		background:var(--gradient1);
		position: relative;
		width:500px;
		margin-bottom:100px;
		width: 100%;

	}
	iframe
	{
	}
	/*
		height: 1px;
		bottom:-1px;
		top:unset;
		width: 25%;
		margin-left:-12.5%;
		background-color: #FFFFFF90;
	*/
	/*
		height: 60px;
		top:calc(50% - 30px);
		width: 150px;
		margin-left:calc(12.5% - 10px);
		margin-left:-75px;
		background-color: #FFFFFF30;
			*/
	
	.links
	{
		left:calc((50% - (((100px + 40px) * 3) - (80px * 3))) / 2);
		left:calc(50% - 330px);
		width: fit-content;
		height: 100%;
		float:left;
	}
	.links,.socials
	{

	
	}
	.socials
	{
		height: 80px;
		float:left;
		width: auto;
	}
	.linkPage,.linkIcon
	{
		float: left;
		transition:all .12s;
	}
	.linkPage:hover
	{
		color:var(--fontColor1) !important;
		background-color:var(--bgColor3) !important;
	}
	#listenButton:hover
	{
		color:#000;
		background-color:var(--bgColor3);
	}
	.linkPage.logo:hover,.linkIcon:hover
	{
		filter:invert(100%);
		color:var(--fontColor2);
		background-color:#000;
	}
	.linkPage
	{
		position: relative;	
    margin: unset;
		width: 100px;
		/*padding: 40px 20px 40px 20px;
		letter-spacing: -5px;
		text-align: center;
    font-size: 20pt;
		letter-spacing: -1px;*/
		
		cursor: pointer;
		padding:0 20px 0 20px;
		padding:20px;
		text-transform:full-size-kana;
		height: 100%;
		font-size: 20pt;
		font-size: 27px;
		letter-spacing: -1px;
		text-align: center;
		

	}
  .linkPage.logo
	{
		width: 20%;
		background-image:url('logoNoShadow.svg');
		background-size:90%;
		background-repeat: no-repeat;
		background-position: center;
	}
	.linkIcon
	{
		float:left;
    /*! padding: 0 20px 0 20px; */
		height: 100%;
		width: 80px;
	}
	  .bigCard
	{
		width: 100%;
		margin:unset;
		max-width: unset;
	}
	.card.text
	{
		left:unset;
		width: 100%;
		width: calc(100% - 30px - 50%);
		font-size: 25pt;
		text-align: left;
		/*! width: 50% !important; */
		max-width: unset;
	}

	.card.event
	{
		display: inline-block;
		float: left;
		width: calc((100% / 3) - 0px);

		font-size: 25px;
		left:unset;

	}
	.card.event:last-of-type,.card.text:last-of-type
	{
		margin-bottom:unset;
	}
	.card.event:nth-child(odd)
	{
		
	}
   #eventCurrent, #eventPast
	{
		position: relative;
		margin-left:unset;
		width: 100%;
		height: auto;
	}
		#eventCurrent:before, #eventCurrent:after,#eventPast:before,#eventPast:after {
		content: "";
		clear:both;
		display: table;
	}
  .title.events
	{
		margin:0;
		width: 100%;
		padding:10px 0px 10px 0px;
		font-size: 24pt;
		position: relative;
		outline: 1px solid #FFFFFF50;
		border-radius: 0 !important;;
		/*left:calc(10%);
		width:80%;
		margin-top:10px;
		border-radius: 7px;
		background: linear-gradient(266.31deg, rgba(255, 207, 250, 0.31) 0%, rgba(255, 96, 96, .07) 50%, rgba(255, 207, 250, 0.31) 100%), #EBB21F;
	 */
	}
	.title:not(.events),.back
	{
		position: absolute;
		display: none;
		
	}
	.title
	{
		width: 100%;
		
		line-height: unset;
		text-align: center;
	}
	.title.past
	{
		position: relative;
	}
	.back
	{
		width: 30%;
	}
	
	.mail 
  {
		cursor: pointer;
		text-align: center !important;
		transition:all .12s;
	}
	.mail:hover
	{
		background: var(--bgColor2);		
		color:var(--fontColor2);
	}
	.modal-content {
  background-size: auto 75vh !important;
	}
	/*
	.card.text
	{
		text-align: left;
		left:50%;
		width: 35%;
		font-size: 20px;
		
	}
	.pic
	{
		position: absolute;
		width: 40vw;
		background:url('picture.jpg');
		margin:5vh 10%;
		max-width: 500px;
	}
	*/
	
	
	/*
		.page
	{
		margin-top:100px;
		height: calc(100vh - 100px);
	}
	#lnks-desktop
	
	{
		width:calc(100% - 40px);
		margin:20px;
		overflow: hidden;
	}
	#dot
	{
		top:0;
		margin-left:-12.5%;
		width: 25%;
		height: 100%;
		border-radius: 0;
		background:#FFFFFF40;
	}
	.title
	{
		width:calc(100% - 40px) !important;
		margin:20px;
		border-radius:10px;
	}
	#lnks-desktop,.title,.mail
	{
		border-top:2px solid #FFFFFF30;
		border-top:unset;
		background:#F2F4B3 !important;
		color:#EEF;
		color:#443;
		border-radius: 10px;
	}
	.instagram,.tiktok,.spotify
	{
		filter:invert(75%);
	}
	#bg
	{
			filter:hue-rotate(170deg);
			filter:hue-rotate(130deg) brightness(130%) saturate(140%);
	}
	#picture
	{
    display: none;
		border-radius: 10px;
	}
	#bgPic
	{
		background:url('bgpic.jpg');
	}
	#bgPic-blur
	{
		background:url('bgpic_blur.jpg');
	}
	#bgPic,#bgPic-blur
	{
		position: fixed;
		top:0;
		left:0;
		height:100vh;
		width:100vw;
		background-size: 100%;
    background-position:  center 30%;
		z-index: 0;
	}
	#lnks-desktop
	{
	background:#FFFFFF50 !important;
background-image: linear-gradient(
  90deg,
  hsl(62deg 75% 83%) 0%,
  hsl(103deg 63% 77%) 50%,
  hsl(144deg 52% 70%) 100%
)
			!important;
	}*/
	/*
	.linkPage
	{
		width: calc(25% - 20px);
		margin-left:10px;
		border-radius: 100px !important;
		background:var(--bgClr);
		background:#D18ECB;
		color:#432443;
		box-shadow: 0px 0px 4px #00000020,0px 10px 10px #00000020;
	}
	.linkPage:hover
	{
		transform: scale(1.05,1.05);
		background:#D18EDB;
	}
	#lnks-desktop {
		background:unset;
		outline:unset;
		margin:20px 0 20px 0;
	}
	*/
	

	
}


@media (min-width: 700px) and (max-width: 1000px){

	.linkIcon
	{
		background-size: auto 30px;
	}
	.card.event
	{
    width: 50%;
	}
}



@media (max-width: 700px){
  .page:not(#main)
	{
		margin-top:0vh;
		height: calc(100vh - var(--lnksHeight));
	}
.pageHead
	{
		top:0;
	}
	.pic
	{
		width: calc(50% - 30px) !important;
	}
	#picAbout
	{
		position: fixed;
		height: 20vh;
		top:0;
		width: calc(100vw - 30px);
		background: url('about.jpg');
		background-size: calc(100vw - 30px);
		background-position: center;
		border:15px solid white;
	}
	#picture
	{
		float:none;
		width: 100%;
    margin:unset;
		max-width:unset;
		max-height:unset;
	}
	.bigCard
	{
		margin-left:0px;
		top:20vh;
		overflow: scroll;
		position: fixed;
		height: calc(100vh - var(--lnksHeight) - 20vh);
	}
	#newSingle
	{
		left:0;
		position: relative;
		margin-left: calc(10vw + 10px);
		width: calc(80vw - 20px);
		height: fit-content;
		padding: 1.5vh 0 30vh 0;
		padding: 0;
		/*! margin-top: 20px; */
		text-shadow: unset !important;
		color: var(--fontColor1) !important;
	}
	#listenButton
	{
		left:0;
		width: 100%;
	}
	iframe
	{
		
		height:auto;
		width: 100%;
	  aspect-ratio: 16 / 9;
		max-height:281.5px;
		margin:unset;
	}
	.mobileLogo
	{
		background-image:url('logo.svg');
		background-size:90%;
		background-repeat: no-repeat;
		background-position: center;
		height: 100vh;
		position: fixed;
		top:0;
		margin-left: calc(10vw + 10px);
		width: calc(80vw - 20px);
		padding: 0;
		/*! margin-top: 20px; */
	}
}

@media (max-width: 400px){

	#title
	{
		font-size: 15vw;
	}
	.title.menu
	{
		display: none;
	}
	.back
	{
		width: 100vw;
	}
	.card.text.mail
	{
		font-size: 4.2vw;
		
	}
  .linkPage,#lbA
	{
		font-size: 6vw;
	}
	#lbA
	{
		line-height: 40px;
	}
	#lbB
	{
		font-size: 4vw;
		line-height: 25px;
		
	}
	#picture
	{
		background-size:100% 100%;
		max-width:400px;
	}

	.credit
	{
		bottom:80px;
	}
}
/*
@media (min-width: 700px){
	body
	{
		background-size:100vw auto;
		height: unset;
		position:absolute;
	}
  .page
	{
		display: block !important;
		position: relative;
		height:700px;
		width: 100%;
		overflow: unset;
	}
  .content,.content-in
	{
		height: unset;
		width: unset;
		overflow: unset;
	}
	#title
	{
		font-size: 80px;
		text-align: center;
	}
	#picture
	{
		background-size:80vh auto;
		height: 500px;
		width: 500px;
		margin-left:calc(50% - 250px);
	}
	#lnks
	{
		height: 75px;
		width: 700px;
		margin-left:calc(50% - 350px);
	}
#links
	{
		width: 70%;
	}
	.socials
	{
		width: 30%;
	}
	.linkPage,.linkIcon
	{
		float: left;
	}
	.linkPage
	{
		width: 25%;
		height: 100%;
		font-size: 40px;
		padding:10px;
	}
	.linkIcon
	{
		width: 33%;
		height: 100%;
	}
	.card.text
	{
		margin-left:calc(50% - 250px);
		width: 500px;
		left:unset;
	}
	.card.event
	{
		float: left;
		width: 300px;
		left:unset;
	}
}