@media (min-width: 700px){
	body
	{
		background-size:100vw auto;

	}
	#title
	{
		font-size: 150px;
	}
	#picture
	{
		background-size:80vh auto;
		max-width:400px;
	}
}
@media (max-width: 400px){

	#title,.title
	{
		font-size: 20vw;
	}
	.card.text.mail
	{
		font-size: 5vw;
		
	}
  .linkPage
	{
		height: calc(100% / 3);
		font-size: 15vw;
		line-height: 10vh;
	}
	#picture
	{
		background-size:80vh auto;
		max-width:400px;
	}
}