:root{
	--:#;
	--bgClr:#CA73DF;
	--fntClr:#FFF;
}
html{
	scroll-behavior: smooth;
}

body
{

	margin:0px;
	position:fixed;
	top:0;
	left:0;
	height: 100vh;
	width: 100%;
	font-family: 'Poppins';
	background-blend-mode:;
	background-repeat: repeat;
  background:url('bg.jpg');
	background-size:auto 100vh;
	background-repeat: no-repeat;
	color:var(--fntClr);
	text-shadow: 0px 0px 2px #FFFFFF30,0px 0px 12px #FFFFFF60;
	text-shadow: 0px 0px 2px #00000020,0px 0px 12px #00000030;
}
a
{
	text-decoration: none !important;
	color:white;
}
@font-face
{
  font-family: 'Poppins', sans-serif;
}
.on
{
  animation:pageSlideIn .12s 1 !important;
	display: block !important;
}
@keyframes pageSlideIn
{
	0%{opacity:0;margin-top:10px};
	100%{opacity:0;margin-top:0%};
}
.page
{
  height: 100%;
	width: 100%;
	overflow: scroll;
	position: absolute;
}
#main,#events,#about,#contact
{
	display: none;
}
#title
{
	position: relative;
	font-size:80px;
	height: 20vh;
	width: 80vw;
	margin:10vw 0 0 10vw;
	text-align: left;
	line-height: 60px;
  font-weight: bold;
}
#picture
{
	height: 350px;
	width: 80vw;
	margin-left:10vw;
	background: url('c8.jpg') center no-repeat;
	background-size: 100%;
	border-radius:10px;
}
#lnks
{
	position: relative;
	left: 10vw;
	width:  80vw;
	height:  30vh;
	
}
#links
{
	position: relative;
	float:left;
	width:55vw;
	height:100%;
}
.linkPage
{
	margin-top:10%;
	height: 6vh;
	font-size:60px;
  font-weight: bold;
	text-indent: 10px;
  height:25%;
	letter-spacing: -4px;
	text-align: right;
	line-height: 60px;
	cursor:pointer;
}

.socials
{
	position:relative;
	float:left;
	width:  100px;
	height:  30vh;
}
.linkIcon
{
	float: none;
	background-size:50% 50%;
	background-position: center;
	background-repeat: no-repeat;
	height: 100px;
	cursor:pointer;
	width: 20vw;
}
.instagram
{
  background-image: url(instagram.svg);
}
.tiktok
{
  background-image: url(tiktok.svg);
}
.spotify
{
  background-image: url(spotify.svg);
}
.back
{
	position: relative;
	font-size:30px;
	width: 80vw;
	margin:10vw 0 0 10vw;
	text-align: left;
	letter-spacing: -1px;
  font-weight: bold;
	cursor:pointer;
}
.back::after
{
	position: absolute;
	content: '';
	top:-10%;
	left:-10%;
	height: 120%;
	width: 120%;
}
.title
{
	position: relative;
	font-size:80px;
	width: 80vw;
	margin:10vw 0 0 10vw;
	text-align: center;
	line-height: 60px;
	letter-spacing: -4px;
  font-weight: bold;
}
.card.event
{
  position: relative;
	width: 80vw;
	left:10vw;
	margin-top:5vh;
	font-size: 20px;
	text-align: center;
}

.event.date
{
	width: 100%;	
}
.daymonthyear
{
	font-weight: bold;
}


.card.text
{
  position: relative;
	width: 80vw;
	left:10vw;
	margin-top:5vh;
	font-size: 20px;
	text-align: center;
}