:root{
	--:#;
	--bgClr:#CA73DF;
	--fntClr:#FFF;
}
html{
	scroll-behavior: smooth;
}

body
{

	margin:0px;
	position:fixed;
	top:0;
	left:0;
	height: 100vh;
	width: 100%;
	font-family: 'Poppins';
	background-blend-mode:;
	background-repeat: repeat;
  background:url('bg.jpg');
	background-size:auto 110vh;
	background-repeat: no-repeat;
	color:var(--fntClr);
	text-shadow: 0px 0px 2px #FFFFFF30,0px 0px 12px #FFFFFF60;
	text-shadow: 0px 0px 2px #00000020,0px 0px 12px #00000030;
}
a
{
	text-decoration: none !important;
	color:white;
}
@font-face
{
  font-family: 'Poppins', sans-serif;
}
.on
{
  animation:pageSlideIn .22s 1 !important;
	display: block !important;
}
@keyframes pageSlideIn
{
	0%{opacity:0;margin-left:-10px};
	100%{opacity:0;margin-left:0%};
}
@keyframes pageSlideI
{
	0%{opacity:0;margin-left:-0px;transform:scale(0.98,0.98)};
	100%{opacity:0;margin-left:0%;transform: scale(1,1)};
}
.page
{
  height: 100vh;
	width: 100vw;
	overflow:scroll;
	position: absolute;
}
#title,.title,.linkPage,.linkIcon
{
	-webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
#main,#events,#about,#contact
{
	display: none;
}
#title
{
	position: relative;
	font-size:80px;
	width: 80vw;
	margin-left:10vw;
	text-align: left;
	line-height: 60px;
  font-weight: bold;
  padding: 3vh 0 3vh 0;
}
#picture
{
	height: 60vw;
	height: 80vw;
	width: 60vw;
	width: 80vw;
	margin-left:20vw;
	margin-left:10vw;
	border-radius:11px;
}
#lnks
{
	position: relative;
	margin-left: 10vw;
	width:  80vw;
	height:  23vh;
	padding:1.5vh 0 30vh 0;
	
}
#links
{
	position: relative;
	float:left;
	width:60vw;
	height:100%;
}
.linkPage
{
	font-size:60px;
  font-weight: bold;
	margin-right: 10px;
	height: calc(100% / 3);
	letter-spacing: -3px;
	text-align: right;
	line-height: 125%;
	cursor:pointer;
}

.socials
{
	position:relative;
	float:left;
	width:  20vw;
	height:  100%;
}
.linkIcon
{
	float: none;
	background-size:40px 40px;
	background-position: center;
	background-repeat: no-repeat;
	height: calc(100% / 3);
	cursor:pointer;
	width: 20vw;
}
.instagram
{
  background-image: url(instagram.svg);
}
.tiktok
{
  background-image: url(tiktok.svg);
}
.spotify
{
  background-image: url(spotify.svg);
}
.pageHead
{
	position: fixed;
	width: 100vw;
	height: 15vh;
	z-index: 100;
}
.title,.back
{
	position: relative;
	float:left;
	float:none;
}
.back
{
	font-size:30px;
	width: 30vw;
	width: 100%;
	padding:5vh 1vw 5vh 5vw;
	padding:2.5% 0 2.5% 0;
	text-align: left;
	letter-spacing: -1px;
  text-indent: 5%;
	font-weight: bold;
	z-index:2;
	cursor:pointer;
}
.back::after
{
	position: absolute;
	content: '';
	top:-10%;
	left:-10%;
	height: 120%;
	width: 120%;
}
.title
{
	padding:5vh 5vw 5vh 1vw;
	padding:4vh 5vw 3vh 1vw;
	padding:unset;
	font-size:80px;
	width: 100vw;
	text-align: center;
	line-height:50px;
	letter-spacing: -4px;
  font-weight: bold;
	z-index:1;
}
.title.past
{
	font-size: 50px;
	line-height: 60px;
}
.content
{
	width: 100%;
	top:120px;
	height: 100vh;
	position: fixed;
	overflow: hidden;
}
.content-in
{
	position: absolute;
	overflow: scroll;
	height: 100vh;
	width: 100vw;
}
.card.event
{
  position: relative;
	width: 80vw;
	left:10vw;
	padding:3vh 0 3vh 0;
	font-size: 20px;
	text-align: center;
}
.card.event:last-of-type,.card.text:last-of-type
{
	margin-bottom:30vh;
}

.card.event:first-of-type,.card.text:first-of-type
{
}
.event.date
{
	width: 100%;	
}
.daymonthyear
{
	font-weight: bold;
}


.card.text
{
  position: relative;
	width: 80vw;
	left:10vw;
	margin-top:5vh;
	font-size: 20px;
	text-align: center;
}
/*
.socials{background:green;}
.tiktok{background-color: #00000050}
#links{background:red;}
.linkPage:nth-child(2){background-color: #00000050}
