:root{
   --pri:#964068;
   --onPri:#FFFFFF;
   --sec:#735761;
   --onSec:#FFFFFF;
   --ter:#7E5537;
   --onTer:#FFFFFF;
   --priC:#FFD9E7;
   --onPriC:#622947;/*3E0022*/
   --secC:#FED9E5;
   --onSecC:#2B151E;
   --terC:#;
   --onTerC:#;
	--bg1:#964068;
	--bg2:#964068;
	--bg3:#964068;
}
@media (prefers-color-scheme: dark) {
	:root{
   --pri:#FFB0D1;
   --onPri:#5D1039;
   --sec:#E1BDC9;
   --onSec:#412A33;
   --ter:#F1BC97;
   --onTer:#49280E;
   --priC:#792950;
   --onPriC:#FFD9E7;
   --secC:#5A3F49;
   --onSecC:#FED9E5;
	 --bg1:#551b36;
		
	}
}
html{
	scroll-behavior: smooth;
	-webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body
{
	margin:0px;
	position:absolute;
	top:0;
	left:0;
	height: 100%;
	height: 100vh !important;
	width: 100%;
	font-family: 'Rubik';
  font-weight: 400;
	background-color:var(--bg1);	
	background-blend-mode:;
	background-repeat: repeat;
	*/
}
@font-face
{
  font-family: 'Rubik', sans-serif;
  font-family: 'Reenie Beanie', cursive;
  font-family: 'Reem Kufi', sans-serif;
}

#bg
{
	position: absolute;
	width:100%;
  /*background-image: linear-gradient(-26deg,rgba(0,255,240,.08),var(--aColor),var(--aColor),rgba(128,0,255,.08));*/
  background-image: linear-gradient(rgba(255,255,255,.02) 1%,rgba(0,0,0,0)5%,rgba(0,0,0,0)95%,rgba(0,255,255,.02));
	z-index: 10;
	background-size: 300% 100%;
	/*box-shadow: 200px 200px 200px -200px
		rgba(128,0,255,.08)
		inset,
		-200px -200px 200px -200px
		rgba(0,255,240,.08)	
		inset;	*/

}
header
{
	position: fixed;
	height: 10%;
	width: 100%;
	top:0%;
	left:0%;
	z-index: 60;
}
.page
{
	display:none;
  animation:none;
}

button
{
	border: none;
}
#title
{
	position: absolute;
	height: 100%;
	width: 100%;
	top:0%;
	left:0%;
	z-index: 61;
  font-family: 'Reenie Beanie', cursive;
	background: var(--onPriC);
	color: var(--priC);
	font-size:3vh;
}
#drawerIcon
{
	position: absolute;
	height: 100%;
	width: 20%;
	top:0%;
	left:0%;
	z-index: 62;
	background:url('hamburger.svg') center no-repeat;		
	background-size:50%;
}
.drawerOn
{
	background:url('close.svg') center no-repeat !important;		
	background-size:50% !important;
}
#drawerOverlay
{
	display: none;	
	position: absolute;
	height: 100vh;
	width: 100%;
	top:10vh;
	left:0%;
	z-index: 62;
	background: var(--pri);
}
.on
{
  animation:pageSlideIn .08s 1 !important;
	display: block !important;
}
@keyframes pageSlideIn
{
	0%{backdrop-filter: blur(0px);opacity:0;margin-top:5px};
	100%{backdrop-filter: blur(80px);opacity:1;margin-top:0%};
}
#events,#demo,#contact
{
	display:none;
}
button.drawer,.socials
{
	position: relative;
	float:top;
	height: 20%;
	width: 100%;
	font-size:3vh;
	color:var(--onSec);
	background:none;
	letter-spacing: 0.26em;
	font-family: 'Reem Kufi';
}
.tiktok,.instagram
{
	background-blend-mode:difference;
	position: relative;
	float:left;
	height: 40%;
	width: 20%;
	margin: 0% 0% 0% 20%;
}
.tiktok
{
	background:url('tik.svg') center no-repeat;		
	background-size:50%;
}
.instagram
{
	background:url('ing.svg') center no-repeat;		
	background-size:60%;
}
.artTwi.b2,.artTik.b2,.artIng.b2
{
  height: 50%;
}
.artTwi.b1,.artTik.b1,.artIng.b1
{
  height: 100%;
}

.artTik,.artIng,.artTwi
{
	position: relative;
	float: top;
	height: 50%;
	width: 100%;
}
.space
{
	position: relative;
	float:top;
	height: 10vh;
	width: 100;
}
.card
{	
	position: relative;
	float:top;
	margin: 5% 5% 0%;
	width: 90%;
  border-radius: 40px;
	background: var(--priC);
}
img.card
{

}
.card.text
{
	width: 80%;
	padding: 5%;
	color:var(--onPriC);
	font-size: 1.7vh;
	line-height: 150%;
	/* or 26px */

	display: flex;
	align-items: center;
	text-align: center;
}
.card.event
{
	position: relative;
	height: 6vh;
	width: 80%;
	padding: 5%;
	font-size: 1.5vh;
	line-height: 150%;
	display: flex;
	align-items: center;
	text-align: center;
	color:var(--onPriC);
  animation:slideIn .5s once;
}
@keyframes slideIn
{
	0%{margin-top:8%};
	100%{margin-top:0%};
}
.event.date,.event.place
{
	position: relative;
	float:left;
}
.event.date
{
	width: 20%;
}
.event.number,.event.month
{
	float:top;
}
.event.number
{
	font-size: 5vh;
	padding: 10% 0%;
  font-weight: bold;
}
.event.month
{
	font-size: 2vh;
	
}
.event.place
{
	width:80%;
	height: 100%;
	align-items:  center;
}
.event.name,.event.adress
{
	
	font-size: 3vw;

}

.event.name
{
  
}
.event.adress
{
	
}
.artistBlock
{
	position: relative;
  margin:20%;
	float: top;
	z-index: 50;
	
	
}
.artistBlock.f4
{
	margin-bottom:30%;
}
button.artName
{
	box-shadow: 0px 0px 0px 1px var(--dColor);
}
.artistBlock.main
{
  width: 60%;
}
.artistBlock.sec
{
  width: 60%;
}
.artPic
{
	width: 100%;
	z-index: 50;
	border-radius: 2px 2px 0px 0px;
}
button.artName
{
	position: absolute;
	bottom:-15%;
	left:0;
	padding:5%;
	width: 100%;
	border: none;
	font-size: 2vh;
	font-family: 'Comfortaa';
	text-align: center;
	background: var(--aColor);
	color: var(--bColor);
  background-image: linear-gradient(-26deg,rgba(128,0,254,.02),rgba(0,255,240,.02)) ;
	
}
.artBtns
{
  position:absolute;
	margin-bottom:0%;
	top:0%;
	right: 0;
	width: 20%;
	box-shadow: -.5px .5px 0px .5px var(--dColor);
	background: var(--aColor);
}
.sp
{
	position: absolute;
	top:50%;
	left:20%;
	height: 1px;
	width: 60%;
	background: var(--dColor);
	z-index: 52;
}


.artBtns
{
	border-radius: 0px 2px 0px 2px;
	overflow: hidden;
}
.artName
{
	border-radius: 0 0 2px 2px;
}
.artistBlock
{
	border-radius: 2px;
}
/**/
.artistBlock
{
	box-shadow: 0px 0px 0px 1px var(--dColor),
		0px 60px 30px -10px rgba(0, 0, 0, .2),
		  0px -20px 30px -10px rgba(0, 0, 0, .2);
}


@media (min-width:700px) {
	.column
	{
		position: relative;
		float:left;
		height: 100%;
		width: 50%;
	}
	.artistBlock.f1,.artistBlock.f2
	{
		margin:20%;
		margin-right:10%;
	}
	.artistBlock.f3,.artistBlock.f4
	{
		margin:20%;
		margin-left:10%;
	}
	.artistBlock.f1,.artistBlock.f3
	{
		margin-bottom: 30%;
	}
  .artName
	{
		/*
		border-radius: 0 0 50px 50px;
		*/
	}
	body,#bg
	{
		height: 100%;
	}
	
}
@media (max-width:700px) {
	button.artName
	{
		box-shadow: 0px 0px 0px .5px var(--dColor);
	}
	.artistBlock
	{
		box-shadow: 0px 0px 0px .5px var(--dColor),
			0px 60px 30px -10px rgba(0, 0, 0, .2),
				0px -20px 30px -10px rgba(0, 0, 0, .2);
	}
	.artBtns
	{
		box-shadow: -.25px .25px 0px .5px var(--dColor);
	}
	.sp 
	{
		height:.5px;
	}
	
}
@media (min-aspect-ratio:1/1)
{
.column
	{
		position: absolute;
		height: 100%;
		width: 20%;
	}
	.column.c1
	{
		right:50%;
	}
	.column.c2
	{
		left:50%;
	}
	body
	{
		height: 100%;
	}
}
/* alt stlye*/
/**
.artistBlock
{
	padding:5%;
	background:var(--aColor);
}
button.artName
{
	box-shadow: 0px .5px 0px .5px var(--dColor);
}
.artPic
{
	border-radius: 4px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,.5);
}
button.artName
{
	position: absolute;
	bottom:-15%;
	left:0;
	padding:5%;
	width: 100%;
	border: none;
	font-size: 2vh;
	font-family: 'Comfortaa';
	text-align: center;
	background: var(--aColor);
	color: var(--bColor);
}
.artBtns
{
	box-shadow: none;
}
