/*
:root{
 
	--1c:#F1FFCC;
	--1ch:#FFFCE9;
	--1s:#F1FFE0;
	--1sh:#FFF7E0;
	--1co:#2b5743;
	--1coh:#622947;
	
	--2c:#9dd566;
	--2ch:#792e56;
	--2s:#94e367;
	--2sh:#ae5c87;
	--2co:#E9FFF0;
	--2coh:#FED9E5;
	
	--3c:#403c73;
	--3ch:#792e56;
	--3s:#554f9b;
	--3sh:#ae5c87;
	--3co:#E9FFF0;
	--3coh:#FED9E5;
	
	--bg1:#812E53;
	--bg2:#ac4374;
	--bg3:#D04B77;
	
	--brdrR:40px;
	--glblShadow:inset 0px 0px 10px;
	--glblShadow2:0px 2px 4px rgba(0,0,0,.1) , 0px 4px 10px rgba(0,0,0,.1);
	--glblShadow3:inset 0px 0px 0px 1px rgba(255,255,255,.2);
	
	--boxs1:var(--glblShadow3),var(--glblShadow) var(--1s),var(--glblShadow2);
	--boxs1h:var(--glblShadow) var(--1sh);
	
	--boxs2:var(--glblShadow3),var(--glblShadow) var(--2s),var(--glblShadow2);
	--boxs2h:var(--glblShadow) var(--2sh);
	
	--boxs3:var(--glblShadow3),var(--glblShadow) var(--3s),var(--glblShadow2);
	--boxs3h:var(--glblShadow3),var(--glblShadow) var(--3s),var(--glblShadow2);
	
	
}
	.card.event,.card.drawer,.tiktok,.instagram,.spotify
	{
		border-radius: 99px !important;
}
	*/
:root{
	--:#;
	
	--1c:#FFE8F0;
	--1ch:#FFFCE9;
	--1s:#E7FFC9;
	--1sh:#FFF7E0;
	--1co:#3e0f25;
	--1coh:#622947;
	
	--2c:#FFE8F0;
	--2ch:#792e56;
	--2s:#ceffd1;
	--2sh:#ae5c87;
	--2co:#E9FFF0;
	--2coh:#FED9E5;
	
	--3c:#8e2278;
	--3ch:#842156;
	--3s:#d52498;
	--3sh:#ae5c87;
	--3co:#E9FFF0;
	--3coh:#FED9E5;
	
	--bg1:#812E53;
	--bg2:#ac4374;
	--bg3:#D04B77;
	
	--brdrR:40px;
	--glblShadow:inset 0px 0px 10px;
	--glblShadow2:0px 2px 4px rgba(0,0,0,.1) , 0px 4px 10px rgba(0,0,0,.1);
	--glblShadow3:inset 0px 0px 0px 1px rgba(255,255,255,.2);
	
	--boxs1:var(--glblShadow3),var(--glblShadow) var(--1s),var(--glblShadow2);
	--boxs1h:var(--glblShadow) var(--1sh);
	
	--boxs2:var(--glblShadow3),var(--glblShadow) var(--2s),var(--glblShadow2);
	--boxs2h:var(--glblShadow) var(--2sh);
	
	--boxs3:var(--glblShadow3),var(--glblShadow) var(--3s),var(--glblShadow2);
	--boxs3h:var(--glblShadow3),var(--glblShadow) var(--3s),var(--glblShadow2);
	
	
	}
	.card.event,.card.drawer,.tiktok,.instagram,.spotify
	{
		border-radius: 99px !important;
}
*/
html{
	scroll-behavior: smooth;
}

body
{
	-webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none ; 
	margin:0px;
	position:absolute;
	top:0;
	left:0;
	height: 100vh;
	width: 100%;
	font-family: 'Comfortaa';
  font-weight: 400;
	background-blend-mode:;
	background-repeat: repeat;

}
@font-face
{
  font-family: 'Rubik', sans-serif;
  font-family: 'Reenie Beanie', cursive;
  font-family: 'Reem Kufi', sans-serif;
}
.on
{
  animation:pageSlideIn .12s 1 !important;
	display: block !important;
}
@keyframes pageSlideIn
{
	0%{opacity:0;margin-top:5px};
	100%{opacity:0;margin-top:0%};
}
.off
{
	display:none;
}
#bg
{
	position: fixed;
	height: 100vh;
	width:100%;
	left:0%;
	background-image: linear-gradient(90deg, var(--bg1) 0%,  var(--bg2) 50%,  var(--bg3) 100%);
	background-image:url('backg.png');
	background-position: left;
	background-size: 100% 100%;
	z-index: -2;
	/*box-shadow: 200px 200px 200px -200px rgba(128,0,255,.08) inset, -200px -200px 200px -200px rgba(0,255,240,.08) inset;	*/

}
#bgL,#bgR
{
	position: fixed;
	top:0%;
	height: 100%;
	z-index: -1;
	width: 100%;
		background-size: auto 100% !important;
}
#bgL
{
	left:0%;
	background:url('bgLeft.png')  no-repeat;		
	background-position: left;
	
	
}
#bgR
{
	background:url('bgRight.png')  no-repeat;		
	right:0%;
	background-position: right;
}
.tiktok,.spotify,.instagram,.drawer,#drawerIcon,#drawerIconClose,#title
{
	cursor: pointer;
}
/*
header
{
	position: fixed;
	height: 10%;
	width: 100%;
	top:0%;
	left:0%;
	z-index: 60;
}*/
button
{
	border: none;
}
header
{
	position: fixed;
	height: 10%;
	width: 90%;
	top:0%;
	left:5%;
	z-index: 60;
	border-radius: 0px 0px var(--brdrR) var(--brdrR);
	overflow: hidden;
	overflow:visible;
	box-shadow: var(--boxs3);
	background: var(--3c);
}/*
header::after
{
	position: fixed;
	height: 100px;
	width: 100px;
	background:url('flower1.png');
	top:3px;
	right:-3%;
	content: 'a';
	background-size:100%;
	color:transparent;
}*/
header::after
{
	position: absolute;
	height: 100px;
	width: 100px;
	background:url('flower1.png');
	bottom:-23px;
	right:-28px;
	content: 'a';
	background-size:100%;
	color:transparent;
}

.page
{
	display:none;
  animation:none;
}


.card
{	
	position: relative;
	float:top;
	margin: 5% 5% 0%;
	width: 90%;
  border-radius: var(--brdrR);
	background: var(--1c);
	box-shadow: var(--boxs1);
	transition: background .08s, box-shadow .08s ,border .08s;
}

#title
{
	position: absolute;
	height: 80%;
	width: 100%;
	bottom:0%;
	left:0%;
	z-index: 61;
  font-family: 'Reenie Beanie', cursive;
	background: none;
	color: var(--3co);
	font-size:35px;
	/*! border-radius: 0px 0px var(--brdrR) var(--brdrR); */
	/*! overflow: hidden; */
	/*! box-shadow: var(--boxs3); */
}

#bgHeader
{
	position: fixed;
	height: 10vh;
	width: 90%;
	bottom:0%;
	margin-bottom:93vh;
	left:5%;
	background: var(--3c);
	box-shadow:var(--boxs3);
	border-radius: 0px 0px 10px 10px;
	display: none;
}
#drawerIcon,#drawerIconClose
{
	position: absolute;
	height: 80%;
	width: 20%;
	bottom:0%;
	left:0%;
	z-index: 62;
	background-size:60% !important;
	display:none;
}
#drawerIcon
{
	background:url('hamburger.svg') center no-repeat;		
}
#drawerIconClose
{
	background:url('close.svg') center no-repeat;		
}
#drawerOverlay
{
	display: none;	
	position: absolute;
	height: 100vh;
	width: 100%;
	/*! top:10vh; */
	left:0%;
	z-index: 50;
	/*! background: var(--pri); */
}

#credit
{
	position: absolute;
	text-align: center;
	bottom:20px;
	width:100%;
	font-size:10px;
	color:var(--2co);
	text-shadow: 0px 0px 20px rgba(0,0,0,.5);
}
.card.drawer
{
	position: relative;
	float:top;
	height: 10%;
	/*! width: 100%; */
	font-size:3vh;
	/*! margin:5% 0% 5% 0%; */
	background:none;
	letter-spacing: 0.26em;
	font-family: 'Comfortaa';
	font-weight: bold;
	background:var(--1c);
	color:var(--1co);

}
.card.tiktok,.card.instagram,.card.spotify
{
	background-blend-mode:difference;
	position: relative;
	float:left;
	height: 10%;
	width: 42.5%;
	width: 27.77%;
	box-shadow: var(--boxs2);
}
.card.tiktok
{
	background:url('tik.svg') center no-repeat var(--2c) !important;		
	background-size:50%;
	margin:5% calc(5%/3) 5% 5% !important;

}
.card.instagram
{
	background:url('ing.svg') center no-repeat var(--2c) !important;		
	background-size:60%;
	margin:5% calc(5%/3) 5% calc(5%/3) !important;

}
.card.spotify
{
	background:url('spo.png') center no-repeat var(--2c) !important;		
	background-size:34% !important;
	margin:5% 5% 5% calc(5%/3) !important;

}

.space
{
	position: relative;
	float:top;
	height: 10vh;
	width: 100;
}

img.card
{
	background:black;
	box-shadow: none;
}
.card.text
{
	width: 80%;
	padding: 5%;
	color:var(--1co);
	font-size: 1.9vh;
	font-size: 13px;
	font-weight: bold;
	line-height: 150%;
	/* or 26px */

	/*! display: flex; */
	/*! align-items: center; */
	text-align: center;
}
.card.event
{
	position: relative;
	height: 6vh;
	width: 80%;
	padding: 5%;
	font-size: 1.5vh;
	line-height: 150%;
	display: flex;
	align-items: center;
	text-align: center;
	font-family: Rubik;
	color:var(--1co);
  animation:slideIn .5s once;
}
@keyframes slideIn
{
	0%{margin-top:8%};
	100%{margin-top:0%};
}
.event.date,.event.place
{
	position: relative;
	float:left;
}
.event.date
{
	width: 20%;
}
.event.number,.event.month
{
	float:top;
}
.event.number
{
	font-size: 5vh;
	padding: 10% 0%;
  font-weight: bold;
}
.event.month
{
	font-size: 2vh;
	
}
.event.place
{
	width:80%;
	height: 100%;
	align-items:  center;
}
.event.name,.event.adress
{
	position: absolute;
	
	font-size: 18px;
	width: 100%;

}

.event.name
{
  bottom:50%;
	height:50%;
}
.event.adress
{
  top:50%;
	height:50%;

}



=
@media (min-width:500px)
{
}
@media (min-width:500px) and (max-width:1000px)
{
  body
	{
		left:calc(50% - 250px);
		width: 500px;
	}
	header,  #bgHeader
	{
		left:calc(50% - 225px);
		width: 450px;
	}
}
@media (min-width:1000px)
{
  #drawerIcon,#drawerIconClose,#bgHeader
	{
		display: none !important;
	}
		#title
	{
		font-size:50px;
		height: 100%;
	}
	#drawerOverlay
	{
		position:  fixed;
		
		display: block !important;
		top:10%;

	}
	header
	{
		border-radius: var(--brdrR) !important;
		
	}
}
@media (min-width:1000px)
{
	
  body
	{
		left: 10%;
		left: calc(50% - 250px - 150px);
		width: 500px;
	}
		header
	{
		left: calc(50% + 100px);
    top:12.5%;
		height: 8%;
		width: 350px;
	}

 #drawerOverlay
	{
		height: 100%;
		width: 400px;
		left: calc(50% + 80px);
	}
	.card.drawer:hover
	{
		background: var(--1ch);
		color:var(--1coh);
		box-shadow: var(--boxs1h);
	}
	.card.spotify:hover,.card.instagram:hover,.card.tiktok:hover,#title:hover
	{
		background-color: var(--2ch) !important;
		box-shadow: var(--boxs2h);
	}
}

@media (prefers-color-scheme: dark) {
	:root{

	--1c:url('bg.png') #FFD9E7;
	--1c:#553C73;
	--1ch:#FFF;
	--1s:#5B4D99;
	--1sh:#FFF;
	--1co:#e1f7ff;
	--1coh:#622947;
	
	--2c:#553c73;
	--2ch:#792e56;
	--2s:#5c4f9b;
	--2sh:#ae5c87;
	--2co:#E9FFF0;
	--2coh:#FED9E5;
		
	--3c:#403c73;
	--3ch:#792e56;
	--3s:#554f9b;
	--3sh:#ae5c87;
	--3co:#E9FFF0;
	--3coh:#FED9E5;
		
	--bg1:#812E53;
	--bg2:#ac4374;
	--bg3:#D04B77;	
	--glblShadow3:inset 0px 0px 0px 1px rgba(0,0,0,.1);
	
	}

	
	#bg
	{
		background-image:url('backgDark.png');
	}
	#bgL
	{
		background-image:url('bgLeftDark.png');		
	}
	#bgR
	{
		background-image:url('bgRightDark.png');		
	}
	*/
}
