:root{
	--:#;
	--bgColor1:#4850D0C2;
	--bgColor2:#FFFFFF;
	--bgColor3:#FFFFFFC2;
	
	--fontColor1:#f4f0ff;
	--fontColor2:#646bd6;
	
	--selectColor1:#ffffff9c;
	--selectColor2:#6848DBD6;
	--bg2Clr:#F0AFE0;
	--fnt2Clr:#FFF;
	--txtShadowClr:#835685;
	--gradient1:linear-gradient(266.31deg, rgba(255, 207, 250, 0.31) 0%, rgba(255, 96, 96, .07) 50%, rgba(255, 207, 250, 0.31) 100%), var(--bgColor1);
  --gradient2:linear-gradient(266.31deg, rgba(255, 207, 250, 0.31) 0%, rgba(255, 96, 96, 0.07) 100%), var(--bgColor1);
position: relative;
	--thinLineColor:#FFFFFF20;
	--bgFilter1: blur(20px) saturate(170%);
	--bgFilter2: blur(6px);
	--outline1:1px solid #9d28ff99;
	
	--borderRadius:7px;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;600&family=Work+Sans&display=swap');

::-moz-selection { /* Code for Firefox */
  color: var(--selectColor1);
  background: var(--selectColor2);
}

::selection {
  color: var(--selectColor1);
  background: var(--selectColor2);
}

html{
	scroll-behavior: smooth;
	-webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-moz-user-select: none;
}
.select
{
	-webkit-user-select: text ;
  -ms-user-select: text ;
  user-select: text ;
	-khtml-user-select: text;
	-moz-user-select: text;
}
.select.mail
{
	-webkit-user-select: all ;
  -ms-user-select: all ;
  user-select: all ;
	-khtml-user-select: all;
	-moz-user-select: all;
}
body
{

	margin:0px;
	position:fixed;
	top:0;
	left:0;
	height: 100vh;
	width: 100%;
  font-family: 'Rubik', sans-serif;
	background-repeat: repeat;
  background:url('bg2.jpg');
	background-color:#c386bd;
	background-size:auto 110vh;
	background-repeat: no-repeat;
	color:var(--fontColor1);
  /*
	text-shadow: 0px 0px 2px #00000020,0px 0px 12px #00000030;
  text-shadow: 0px 2px 0px #00000050;
  text-shadow:
		-1px 1px 0px var(--txtShadowClr),
		1px 1px 0px var(--txtShadowClr),
		-1px -1px 0px var(--txtShadowClr),
		1px -1px 0px var(--txtShadowClr)
		;
	*/
  text-shadow: 0px 0px 2px #00000020,0px 0px 12px #00000030;
}
#bg
{

	margin:0px;
	position:fixed;
	top:0;
	left:0;
	height: 100vh;
	width: 100%;
	opacity: 45%;
	/*! background-image: linear-gradient(
  35deg,
  hsl(272deg 67% 63%) 0%,
  hsl(296deg 66% 70%) 39%,
  hsl(317deg 63% 71%) 61%,
  hsl(334deg 55% 64%) 100%
  ); */
	z-index: -2;
}
#bgPic
{
	background:url('bg_unb.jpg');
	position: fixed;
	top:0;
	left:0;
	height:100vh;
	width:100vw;
	background-size: fill;
	background-position:  center 30%;
	z-index: -1;
}
a
{
	text-decoration: none !important;
	color:white;
}
@font-face
{
  font-family: 'Poppins', sans-serif;
}
.on
{
  animation:pageSlideIn .22s 1 !important;
	display: block !important;
}
@keyframes pageSlideIn
{
	0%{opacity:0;margin-left:-10px};
	100%{opacity:1;margin-left:0%};
}
@keyframes pageSlideI
{
	0%{opacity:0;margin-left:-0px;transform:scale(0.98,0.98)};
	100%{opacity:1;margin-left:0%;transform: scale(1,1)};
}
.page
{
  height: 85vh;
	width: 100vw;
	overflow:scroll;
	position: absolute;
}
#main,#events,#about,#gallery,#contact
{
	display: none;
}
#title
{
	position: relative;
	font-size:80px;
	width: 80vw;
	margin-left:10vw;
	text-align: left;
	line-height: 60px;
  font-weight: bold;
  padding: 3vh 0 3vh 0;
	text-shadow: 0px 0px 10px #00000020;
}

#listenButton,#picture,#lnks,.pageHead,.mail,.title.events,#eventCurrent,#eventPast
{
	font-weight: 300 !important;
	border-radius:var(--borderRadius) !important;	
	box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.25) !important;;
  backdrop-filter:var(--bgFilter);
}
#picture
{
	height: 80vw;
	height: calc(80vw - 20px);
	width: 80vw;
	width: calc(80vw - 20px);
	margin-top:40px;
	
	
	background:url('ressources/cover.png');
	background-size: 100% 100%;
	position: relative;
	border-radius: var(--borderRadius) var(--borderRadius) 0 0 !important;
  max-width: 40vw;
  max-height: 40vw;
	float:right;
}
#newSingle,iframe
{
	width: calc(50vw - 40px);
}
#newSingle
{
	position:absolute;
	height: calc(80vw - 20px);
	
	left:calc(25vw - 0%);
	margin-right:0px;
	width: 50vw;
}
iframe
{
	margin-top:40px;
	height: calc(80vw - 20px);
	position: relative;
	width: 100%;
  max-height:500px;
	border-radius: var(--borderRadius) var(--borderRadius) 0 0 !important;
	height:auto;
	width: 100%;
	aspect-ratio: 16 / 9;
}
.sp
{
	bottom:0px;
	position: absolute;
	width:  100%;
	height: 60px;
	display: none;
}
#lnks
{
	position: absolute;
	position: relative;
	margin-left: calc(10vw + 10px);
	width:  calc(80vw - 20px);
	height:  fit-content;
	padding:1.5vh 0 30vh 0;
	
	padding: 0;
	margin-bottom: 56px;
	margin-top:20px;
	border-radius: 7px;
	text-shadow: unset !important;
  backdrop-filter:var(--bgFilter2);
	background: var(--gradient2);
	color:var(--fontColor1) !important;
}

#lnks-desktop
{
	display: none;
}
#listenButton
{
	height: 80px;
	width: calc(80% - 20px);
	left: calc(10% + 10px);
	margin-top:0px;
	background:linear-gradient(266.31deg, rgba(255, 207, 250, 0.31) 0%, rgba(255, 96, 96, 0.07) 100%), var(--bgColor1);
	position: relative;
	border-radius: 0 0 var(--borderRadius) var(--borderRadius) !important;
}
#lbA,#lbB
{
	position: absolute;
	width: 100%;
	color: inherit;
	text-align: center;
}
#lbA
{
	font-size: 30px;
	top:10px;
	font-weight: 300;
	letter-spacing: 1px;

}
#lbB
{
	font-size: 13px;
	bottom:16px;
}
.links
{
	position: relative;
	width:100%;
	height:fit-content;
}
.linkPage
{
	font-size:60px;
	height: calc(100% / 3);
	height:unset;
	letter-spacing: -5px;
	text-align: right;
	line-height: 125%;
	line-height: 0%;
	cursor:pointer;
	padding:12%;
	padding:3.85vh 2.3vw 3.85vh 2.3vw;
	text-transform:capitalize;
	
	line-height: unset;
	padding:8px;
	height: auto;	
	font-size:32px;
	letter-spacing: 1px;
	text-align: center;
	border-bottom:1px solid #FFFFFF20;
	
  font-weight:;
	
}

.socials
{
	position:relative;
	width:  100%;
  height: 68px;
}
.linkIcon
{
	float: left;
	background-size:20pt 20pt;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	cursor:pointer;
	width: calc(100% / 3);
}
.instagram
{
  background-image: url(instagram.svg);
}
.tiktok
{
  background-image: url(tiktok.svg);
}
.spotify
{
  background-image: url(spotify.svg);
}
.spotify:active
{
	animation: notAv .2s infinite;
}
@keyframes notA
{
	0%{margin-left: 0px;}
	20%{margin-left: 10px;}
	60%{margin-left: -10px;}
	80%{margin-left: 0px;}
}
@keyframes notAv
{
	80%{transform:perspective;}
}
.pageHead
{
	position: fixed;
	width: 100vw;
	height: 80px;
	z-index: 100;
  bottom:0;
	top:unset !important;;
	background:var(--bg2Clr);
	outline:var(--outline1);
	border-radius:  0 !important;;
	color:var(--fontColor1);
	background: var(--gradient2);
}

.back
{
	font-size:20pt;
	width: 35vw;
	letter-spacing: -1px;
	z-index:2;
	cursor:pointer;
	border-right: 1px solid #FFFFFF20;
}
.back::after
{
	position: absolute;
	content: '';
	top:-10%;
	left:-10%;
	height: 120%;
	width: 120%;
}
.title
{
	padding:4vh 5vw 3vh 1vw;
	padding:unset;
	font-size:80px;
	width: 100vw;
	letter-spacing: 1px;
	z-index:1;
	text-align: center;
}
.title.menu
{
	padding:unset;
	width: calc(65vw - 1px);
	font-size:20pt;
}
.title.menu,.back
{
	position: relative;
	line-height: 15vh;
	text-align: center;
	line-height:80px;
	float:left;
}
.title.events
{
	position: relative;
	margin-top:20px;
	margin-left:10%;
	width: 80%;
	font-size: 20pt;
	outline:1px solid #FFFFFF40;
	padding:20px 0 20px 0;
	z-index: 6;
	border-radius: 7px 7px 0 0 !important;
	color:#390803;
  
  
	
	background: var(--gradient1);
	color: var(--fontColor1);
	box-shadow: unset !important;
	filter:unset !important;
}
.content
{
	width: 100%;
	top:120px;
	height: 100vh;
	position: absolute;
	overflow: scroll;
}
.content-in
{
	position: absolute;
	overflow: scroll;
	height: 100vh;
	width: 100vw;
}
#eventCurrent,#eventPast
{
	background:#D687E1;
	background: linear-gradient(266.31deg, #CE7CD540 0%, #DC83BC20 100%), #D687E1;
	background:var(--gradient2);
	/*! margin-top:-7px; */
	margin-left:10%;
	width: 80%;
	border-radius: 0 0 7px 7px !important;
	z-index: 5;
	outline:1px solid #FFFFFF20;
}
.card.event
{
  position: relative;
	width: 100%;
	left:0;
	margin-top:1px;
	padding:3vh 0 3vh 0;
	font-size: 20px;
	text-align: center;
  border-top: 1px solid #FFFFFF50;
}
.sp
{
	margin-bottom:15vh;
}

.event.date
{
	width: 100%;	
}
.daymonthyear
{
	font-weight: bold;
}

.bigCard
{
	margin-top:30px;
	width: calc(100% - 60px);
	margin-left:30px;
	background: var(--gradient1);
	box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.25) !important;
	filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.21)) drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.2)) !important;
	border-radius: 7px;
	outline:var(--outline1);
	max-width: 700px;
	position: absolute;
	margin-left:calc(50% - 350px);
}
.card.text
{
  position: relative;
	width: 80vw;
	font-size: 20px;
	text-align: left;
	
	width: calc(100% - 40px);
	color: var(--fontColor1);
  padding:20px;
	border-bottom: 1px solid #00000010;
	max-width: 700px;
}
.card.text,.card.event
{
		/*! text-shadow: 0px 0px 2px #00000020,0px 0px 12px #00000030; */
		/*! text-shadow: none; */
}

.pic
{
	width: calc(25% - 30px);
	margin:20px 0px 0px 20px;
	cursor: pointer;
	border-radius: 3px;
	outline: 1px solid #FFFFFF50;
}
#modalBlock {
  position: fixed;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 200;
  display: none;
  transition: opacity var(--speed1);
  background-color: rgba(0,0,0,.8);
}
#img00 {
  position: absolute;
  height: 88%;
  width: 100%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  animation: none !important;
}
#modalBtnsA {
  position: fixed;
	bottom:0;
  height: 12vh;
  width: 100vw;
  outline: 1px solid var(--top2Clr);
  left: 0;
  z-index: 3;
  background-color:#101010;
  overflow: hidden;
}
.modalButton {
  position: relative;
  float: left;
  height: 100%;
  width: calc(100% / 3);
  z-index: 3;
  background-size: auto;
  background-position: center;
  cursor: pointer;
  transition: filter var(--speed1);
  background-color: #101010;
  background-color: unset;
  background-repeat: no-repeat;
}
#previous{
  background-image: url('ressources/left.svg');
}
#next{
  background-image: url('ressources/right.svg');
}
#exit{
  background-image: url('ressources/exit.svg');
}











.mail 
  {
  /*! font-size: 40px; */
  /*! padding: 40px 0 40px 0; */
  /*! position: relative; */
  /*! width: 100vw; */
	/*! background: #FFFFFF0D; */
	outline: var(--outline1);
	/*! border-radius: 2px; */
	/*! box-shadow: 0px 10px 10px #00000005; */
	cursor: pointer;
	text-align: center !important;
	/*! border-radius: 9px; */
	/*! color: #390803; */
	margin-top:20px;
	margin-left:30px;
	width: calc(100% - 100px) !important;
	font-weight: bold;
  background: linear-gradient(266.31deg, rgba(255, 207, 250, 0.31) 0%, rgba(255, 96, 96, 0.07) 100%), #EBB21F;
  background:var(--gradient1);
  backdrop-filter:var(--bgFilter);
}
.mail.copied
{
	animation: copied 2s 1;
	
}
@keyframes copied{
	0%{text-indent: -10px;color:transparent;}
	20%{text-indent: 0px;color:var(--fntClr);}
	80%{text-indent: 0px;color:var(--fntClr);}
	100%{text-indent: 10px;color:transparent;}
}

/*        */
/* CREDIT */
/*        */


.wdcredit
{
	
	position: absolute !important;
	margin-left: calc(50vw - (114px / 2) - 20px) !important;
	margin-left: 20px !important;
	
	height: 60px !important;
	width: 138px !important;
	width: 178px !important;
	
	bottom:20px !important;
	
	transition: all .12s ease-in-out;
	overflow: visible;
	overflow: hidden;
	background-color:#000;
  
}

.wda,.wdb
{
	position: absolute;
	top:0;
	left:0;
	width: 110%;
	height: 100%;
	transition: all .2s ease-in-out;

}
.wdb
{
	z-index: 2;
}

.wdb
{
	height: 400%;
	top:-300%;
}
.wdb::after
{
	content:'';
	position: absolute;
	top:calc(100% / 4);
	left:0;
	width:100%;
	height:50%;
	background:#FFF;
}
.wdb:hover
{
	top:0px;
}





.wdmba,.wdmbb
{
	position: absolute;
	top:0;
	left:0;
	padding:15px;
	width:100%;
	font-family: 'Work Sans', sans-serif;
	font-size:26px;
}
.wdmba
{
	color:#FFF;
	background-color:#000;
}
.wdmbb
{
	color:#000;
	background-color:#FFF;
}
.wdica,.wdicb
{
	position: absolute;
  top:15px;
	left:133px;	
	height: 30px;
	width: 30px;
	background-image:url('https://avatars.githubusercontent.com/u/33104312?v=4');
	background-size: 100% 100%;
}
.wdicb
{
	filter:invert(100%);
}


/*        */
/*        */
/*        */


/*
*/
/*
.bigCard
{
	margin:5%;
	padding:30px;
	width: calc(90% - 60px);
	background: #FFFFFF15;
	background: #B67CBA90;
	outline: 1px solid #FFFFFF50;
	border-radius: 10px;
	position: relative;
}
.card.text
{
  left:0;
	margin: unset;
	margin-bottom:20px;
	width: 100%;
}
/*
.socials{background:green;}
.tiktok{background-color: #00000050}
#links{background:red;}
.linkPage:nth-child(2){background-color: #00000050}
.title{background:red;}
#title{background:#e385d0;}

