:root{
	--:#;
	--bg2Clr:#FFE69ADE;
	--bgClr:#FFD569;
	--bgClr:#FFE869CC;
	--bg2Clr:#FFE99A;
	--bg3Clr:linear-gradient(288.67deg, #C04B83 0%, #88502A 40.51%, #7C4825 74.27%, #562422 99.72%);
	--bg4Clr:#521F1F;
	--brdrClr:#B2645B;
	--fntClr:#FFF6E8;
	--fnt2Clr:#521F1F;
	--crdPddng:50px;
	--txtShadowClr:#835685;
	
}
html{
	scroll-behavior: smooth;
	-webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-moz-user-select: none;
}
.select
{
	-webkit-user-select: text ;
  -ms-user-select: text ;
  user-select: text ;
	-khtml-user-select: text;
	-moz-user-select: text;
}
.select.mail
{
	-webkit-user-select: all ;
  -ms-user-select: all ;
  user-select: all ;
	-khtml-user-select: all;
	-moz-user-select: all;
}
body
{

	margin:0px;
	position:fixed;
	top:0;
	left:0;
	height: 100vh;
	width: 100%;
	font-family: 'Yeseva One';
	background-repeat: repeat;
  background:url('bg_unb.jpg');
	background-color:#c386bd;
	background-size:auto 110vh;
	background-repeat: no-repeat;
	color:var(--fntClr);
  /*
	text-shadow: 0px 0px 2px #00000020,0px 0px 12px #00000030;
  text-shadow: 0px 2px 0px #00000050;
  text-shadow:
		-1px 1px 0px var(--txtShadowClr),
		1px 1px 0px var(--txtShadowClr),
		-1px -1px 0px var(--txtShadowClr),
		1px -1px 0px var(--txtShadowClr)
		;
	*/
  /*text-shadow: 0px 0px 2px #00000020,0px 0px 12px #00000030;*/
}
button
{
	background:unset;
	border:unset;
	color:unset;
}
#bg
{

	margin:0px;
	position:fixed;
	top:0;
	left:0;
	height: 100vh;
	width: 100%;
	opacity: 45%;
	/*! background-image: linear-gradient(
  35deg,
  hsl(272deg 67% 63%) 0%,
  hsl(296deg 66% 70%) 39%,
  hsl(317deg 63% 71%) 61%,
  hsl(334deg 55% 64%) 100%
  ); */
	z-index: -2;
}
#bgPic
{
	background:url('bg_unb.jpg');
	position: fixed;
	top:0;
	left:0;
	height:100vh;
	width:100vw;
	background-size: fill;
	background-position:  center 30%;
	z-index: -1;
}
a
{
	text-decoration: none !important;
	color:white;
}
@font-face
{
  font-family: 'Poppins', sans-serif;
}
.on
{
  animation:pageSlideIn .22s 1 !important;
	display: block !important;
}
@keyframes pageSlideIn
{
	0%{}
	100%{}
}
.page
{
  height: 100vh;
	width: 100vw;
	overflow:scroll;
	position: absolute;
	background:var(--bg2Clr);
}
.spH
{
	margin-left:-50px;
	display: inline-block;
	position: relative;
	background:var(--brdrClr);
	width: calc(100% + 100px);
	height: 1px;
}
#main,#events,#about,#gallery,#contact
{
	display: none;
}
#title
{
	position: relative;
	font-size:80px;
	width: 80vw;
	margin-left:10vw;
	text-align: left;
	line-height: 60px;
  font-weight: bold;
  padding: 3vh 0 3vh 0;
	text-shadow: 0px 0px 10px #00000020;
}
#picture
{
	height: calc(100vw - 0px);
	width: calc(100vw - 0px);
	margin-top:0px;
	background:url('ressources/cover.png');
	background-size:cover;
	position: relative;
	background-position: top;
}
#listenButton,#picture,#lnks,.pageHead,.mail,.title.events,#eventCurrent,#eventPast
{
}
.sp
{
	bottom:0px;
	position: absolute;
	width:  100%;
	height: 60px;
	display: none;
}
#lnks
{
	position: relative;
	width:  100vw;
	height:  fit-content;
	padding:1.5vh 0 30vh 0;
	
	padding: 0;
	margin-bottom: 56px;
	text-shadow: unset !important;
	color:var(--fnt2Clr);
}

#lnks-desktop
{
	display: none;
}
#listenButton
{
	height: 80px;
	width: calc(80% - 20px);
	left: calc(10% + 10px);
	margin-top:20px;
	position: relative;
	background: var(--bg3Clr);

}
#lbA,#lbB
{
	font-family: 'Yeseva One';
	position: absolute;
	width: 100%;
	color: #FFF6E8;
	text-align: center;
	width: calc(100% - 125px);
	left:125px;}
#lbPic
{
	position: absolute;
	height: 60px;
	width: calc(100% - 25px);
	background:url('ressources/cover.png');
	margin:12.5px;
	background-size: cover;
}
#lbA
{
	font-size: 30px;

	top:40px;
	font-weight: bold;
	letter-spacing: 1px;
}
#lbB
{
	font-size: 13px;
	bottom:30px;
}
.links
{
	position: relative;
	width:100%;
	height:fit-content;
}
.linkPage
{
	/*! font-size:60px; */
  font-weight: bold;
	/*! height: calc(100% / 3); */
	/*! height:unset; */
	/*! letter-spacing: -5px; */
	/*! text-align: right; */
	/*! line-height: 125%; */
	/*! line-height: 0%; */
	cursor:pointer;
	text-transform:capitalize;
	font-family: 'Yeseva One';
	width: 100%;
	line-height: unset;
	padding:20px;
	height: auto;	
	font-size:32px;
	letter-spacing: 1px;
	text-align: center;
	/*! border-bottom:1px solid #FFFFFF20; */
}

.socials
{
	position:relative;
	width:  50%;
  height: 68px;
	margin-left:25%;
}
.linkIcon
{
	float: left;
	background-size:20pt 20pt;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	cursor:pointer;
	width: calc(100% / 3);
}
.instagram
{
  background-image: url(instagram.svg);
}
.tiktok
{
  background-image: url(tiktok.svg);
}
.spotify
{
  background-image: url(spotify.svg);
}
.spotify:active
{
	animation: notAv .2s infinite;
}
@keyframes notA
{
	0%{margin-left: 0px;}
	20%{margin-left: 10px;}
	60%{margin-left: -10px;}
	80%{margin-left: 0px;}
}
@keyframes notAv
{
	80%{transform:perspective;}
}
.pageHead
{
	position: fixed;
	width: 100vw;
	height: 80px;
	z-index: 100;
  bottom:0;
	top:unset !important;;
	border-radius:  0 !important;;
	color: var(--fntClr);
	background: var(--bg4Clr);
}

.back
{
	font-size:20pt;
	width: 35vw;
	letter-spacing: -1px;
	font-weight: bold;
	z-index:2;
	cursor:pointer;
	border-right: 1px solid #FFFFFF20;
}
.back::after
{
	position: absolute;
	content: '';
	top:-10%;
	left:-10%;
	height: 120%;
	width: 120%;
}
.title
{
	padding:4vh 5vw 3vh 1vw;
	padding:unset;
	font-size:80px;
	width: 100vw;
	letter-spacing: 1px;
  font-weight: bold;
	z-index:1;
	text-align: center;
}
.title.menu
{
	padding:unset;
	width: calc(65vw - 1px);
	font-size:20pt;
}
.title.menu,.back
{
	position: relative;
	line-height: 15vh;
	text-align: center;
	line-height:80px;
	float:left;
}
.title.events
{
	position: relative;
	margin-top:20px;
	width: 100%;
	font-size: 20pt;
	outline:1px solid var(--brdrClr);
	padding:20px 0 20px 0;
	z-index: 6;
	color:#390803;
  text-align: center;
  background:var(--bg2Clr);
	box-shadow: unset !important;
	filter:unset !important;
}
.content
{
	width: 100%;
	top:120px;
	height: 100vh;
	position: absolute;
	overflow: scroll;
}
.content-in
{
	position: absolute;
	overflow: scroll;
	height: 100vh;
	width: 100vw;
}
#eventCurrent,#eventPast
{
	/*background:var(--bg2Clr);*/
	color:var(--fnt2Clr);
	z-index: 5;
}
.card.event
{
  position: relative;
	width: 100%;
	left:0;
	/*! margin-top:1px; */
	padding:50px 0px 50px 0px;
	font-size: 25px;
	text-align: center !important;
	text-align: left;
	font-family: 'Yeseva One';
  border-top: 1px solid #B2645B;
}
.sp
{
	margin-bottom:15vh;
}

.event.date
{
	width: 100%;	
}
.daymonthyear
{
	font-weight: bold;
}

.bigCard
{
	/*background:var(--bg2Clr);*/
	width: 100%;
}
.card.text
{
  position: relative;
	font-size: 25px;
	text-align: left;
	padding:40px;
	width: calc(100% - 80px);
	color: #390803;
  /*! padding:20px; */
	padding-bottom:25px;
}
.card.text,.card.event
{
		/*! text-shadow: 0px 0px 2px #00000020,0px 0px 12px #00000030; */
		/*! text-shadow: none; */
}

.pic
{
	position: relative;
	float:left;
	width: calc(50% - 0px);
	margin:20px 0px 0px 20px;
	margin:0;
	cursor: pointer;
}
#modalBlock {
  position: fixed;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 200;
  display: none;
  transition: opacity var(--speed1);
  background-color: rgba(0,0,0,.8);
}
#img00 {
  position: absolute;
  height: 88%;
  width: 100%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  animation: none !important;
}
#modalBtnsA {
  position: fixed;
	bottom:0;
  height: 12vh;
  width: 100vw;
  outline: 1px solid var(--top2Clr);
  left: 0;
  z-index: 3;
  background-color:#101010;
  overflow: hidden;
}
.modalButton {
  position: relative;
  float: left;
  height: 100%;
  width: calc(100% / 3);
  z-index: 3;
  background-size: auto;
  background-position: center;
  cursor: pointer;
  transition: filter var(--speed1);
  background-color: unset;
  background-color: var(--bg4Clr);
  background-repeat: no-repeat;
}
#previous{
  background-image: url('ressources/left.svg');
}
#next{
  background-image: url('ressources/right.svg');
}
#exit{
  background-image: url('ressources/exit.svg');
}











.mail 
  {
  font-size: 40px;
  padding: 40px 0 40px 0;
  position: relative;
	background: var(--bg2Clr);
	outline: 1px solid var(--brdrClr);
	cursor: pointer;
	color: var(--fntClr);
	width: 100% !important;
		text-align: center !important; 
	font-weight: bold;
	padding:40px 0 40px 0 !important;

}
.mail.copied
{
	animation: copied 2s 1;
	
}
@keyframes copied{
	0%{text-indent: -10px;color:transparent;}
	20%{text-indent: 0px;color:var(--fntClr);}
	80%{text-indent: 0px;color:var(--fntClr);}
	100%{text-indent: 10px;color:transparent;}
}
.credit
{
	position: relative;
	left: calc(50vw - 75px);
	background:url('mb4w.svg') left no-repeat;
	background-size:201px;
	width: 151px;
	height: 50px;
	margin-top:100px;
	transition: all .12s ease-in-out;
	overflow: hidden;
}
.credit:hover
{
	width: 201px;
	transform: scale(105%);
	background-color:black;
}
/*
*/
/*
.bigCard
{
	margin:5%;
	padding:30px;
	width: calc(90% - 60px);
	background: #FFFFFF15;
	background: #B67CBA90;
	outline: 1px solid #FFFFFF50;
	border-radius: 10px;
	position: relative;
}
.card.text
{
  left:0;
	margin: unset;
	margin-bottom:20px;
	width: 100%;
}
/*
.socials{background:green;}
.tiktok{background-color: #00000050}
#links{background:red;}
.linkPage:nth-child(2){background-color: #00000050}
.title{background:red;}
#title{background:#e385d0;}

