:root{
	--:#;
	--bgClr:#CA73DF;
	--fntClr:#FFF;
	--bg2Clr:#F0AFE0;
	--fnt2Clr:#FFF;
	--txtShadowClr:#835685;
	
}
html{
	scroll-behavior: smooth;
	-webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-moz-user-select: none;
}
.select
{
	-webkit-user-select: text ;
  -ms-user-select: text ;
  user-select: text ;
	-khtml-user-select: text;
	-moz-user-select: text;
}
.select.mail
{
	-webkit-user-select: all ;
  -ms-user-select: all ;
  user-select: all ;
	-khtml-user-select: all;
	-moz-user-select: all;
}
body
{

	margin:0px;
	position:fixed;
	top:0;
	left:0;
	height: 100vh;
	width: 100%;
	font-family: 'Poppins';
	background-repeat: repeat;
  background:url('bg.jpg');
	background-color:#c386bd;
	background-size:auto 110vh;
	background-repeat: no-repeat;
	color:var(--fntClr);
  /*
	text-shadow: 0px 0px 2px #00000020,0px 0px 12px #00000030;
  text-shadow: 0px 2px 0px #00000050;
  text-shadow:
		-1px 1px 0px var(--txtShadowClr),
		1px 1px 0px var(--txtShadowClr),
		-1px -1px 0px var(--txtShadowClr),
		1px -1px 0px var(--txtShadowClr)
		;
	*/
  text-shadow: 0px 0px 2px #00000020,0px 0px 12px #00000030;
}
#bg
{

	margin:0px;
	position:fixed;
	top:0;
	left:0;
	height: 100vh;
	width: 100%;
	opacity: 45%;
	background-image: linear-gradient(
  35deg,
  hsl(272deg 67% 63%) 0%,
  hsl(296deg 66% 70%) 39%,
  hsl(317deg 63% 71%) 61%,
  hsl(334deg 55% 64%) 100%
  );
	z-index: -2;
}
#bgPic
{
	background:url('bg_unb.jpg');
	position: fixed;
	top:0;
	left:0;
	height:100vh;
	width:100vw;
	background-size: fill;
	background-position:  center 30%;
	z-index: -1;
}
a
{
	text-decoration: none !important;
	color:white;
}
@font-face
{
  font-family: 'Poppins', sans-serif;
}
.on
{
  animation:pageSlideIn .22s 1 !important;
	display: block !important;
}
@keyframes pageSlideIn
{
	0%{opacity:0;margin-left:-10px};
	100%{opacity:1;margin-left:0%};
}
@keyframes pageSlideI
{
	0%{opacity:0;margin-left:-0px;transform:scale(0.98,0.98)};
	100%{opacity:1;margin-left:0%;transform: scale(1,1)};
}
.page
{
  height: 100vh;
	width: 100vw;
	overflow:scroll;
	position: absolute;
}
#main,#events,#about,#contact
{
	display: none;
}
#title
{
	position: relative;
	font-size:80px;
	width: 80vw;
	margin-left:10vw;
	text-align: left;
	line-height: 60px;
  font-weight: bold;
  padding: 3vh 0 3vh 0;
	text-shadow: 0px 0px 10px #00000020;
}
#picture
{
	height: 80vw;
	height: calc(80vw - 20px);
	width: 80vw;
	width: calc(80vw - 20px);
	margin-left:10vw;
	margin-left:calc(10vw + 10px);
	border-radius:11px;
	border-radius:0px;
	outline:9px solid white;
}
#lnks
{
	position: relative;
	margin-left: 10vw;
	width:  80vw;
	height:  23vh;
	padding:1.5vh 0 30vh 0;
	
}
#lnks-desktop
{
	display: none;
}
.links
{
	position: relative;
	float:left;
	width:60vw;
	height:100%;
}
.linkPage
{
	font-size:60px;
  font-weight: bold;
	margin-right: 10px;
	height: calc(100% / 3);
	height:unset;
	letter-spacing: -5px;
	text-align: right;
	line-height: 125%;
	line-height: 0%;
	cursor:pointer;
	padding:12%;
	padding:3.85vh 2.3vw 3.85vh 2.3vw;
}

.socials
{
	position:relative;
	float:left;
	width:  20vw;
	height:  100%;
}
.linkIcon
{
	float: none;
	background-size:40px 40px;
	background-position: center;
	background-repeat: no-repeat;
	height: calc(100% / 3);
	cursor:pointer;
	width: 20vw;
}
.instagram
{
  background-image: url(instagram.svg);
}
.tiktok
{
  background-image: url(tiktok.svg);
}
.spotify
{
  background-image: url(spotify.svg);
}
.spotify:active
{
	animation: notAv .2s infinite;
}
@keyframes notA
{
	0%{margin-left: 0px;}
	20%{margin-left: 10px;}
	60%{margin-left: -10px;}
	80%{margin-left: 0px;}
}
@keyframes notAv
{
	80%{transform:perspective;}
}
.pageHead
{
	position: fixed;
	width: 100vw;
	height: 15vh;
	z-index: 100;
  bottom:0;
	top:unset !important;;
	background:var(--bg2Clr);
	
	
	background: #FFFFFF15;
	outline: 1px solid #FFFFFF50;
	backdrop-filter:blur(20px);
}

.back
{
	font-size:30px;
	width: 35vw;
	letter-spacing: -1px;
	font-weight: bold;
	z-index:2;
	cursor:pointer;
}
.back::after
{
	position: absolute;
	content: '';
	top:-10%;
	left:-10%;
	height: 120%;
	width: 120%;
}
.title
{
	padding:4vh 5vw 3vh 1vw;
	padding:unset;
	font-size:80px;
	width: 100vw;
	line-height:50px;
	letter-spacing: -0px;
  font-weight: bold;
	z-index:1;
	text-align: center;
}
.title.menu
{
	padding:unset;
	width: 65vw;
	font-size: 60px;
}
.title.menu,.back
{
	position: relative;
	line-height: 15vh;
	text-align: center;
	float:left;
}
.title.events
{
	font-size: 50px;
	line-height: 60px;
}
.content
{
	width: 100%;
	top:120px;
	height: 100vh;
	position: absolute;
	overflow: scroll;
}
.content-in
{
	position: absolute;
	overflow: scroll;
	height: 100vh;
	width: 100vw;
}
.card.event
{
  position: relative;
	width: 80vw;
	left:10vw;
	padding:3vh 0 3vh 0;
	font-size: 20px;
	text-align: center;
}
.card.event:last-of-type,.card.text:last-of-type
{
	margin-bottom:15vh;
}

.card.event:first-of-type,.card.text:first-of-type
{
}
.event.date
{
	width: 100%;	
}
.daymonthyear
{
	font-weight: bold;
}


.card.text
{
  position: relative;
	width: 80vw;
	left:10vw;
	margin-top:5vh;
	font-size: 20px;
	text-align: left;
}
.card.text,.card.event
{
		/*! text-shadow: 0px 0px 2px #00000020,0px 0px 12px #00000030; */
		/*! text-shadow: none; */
}
.mail 
  {
  font-size: 40px;
  padding: 40px 0 40px 0;
  position: relative;
  width: 100vw;
	background: #FFFFFF0D;
	outline: 1px solid #FFFFFF50;
	border-radius: 2px;
	box-shadow: 0px 10px 10px #00000005;
	cursor: pointer;
	text-align: center !important;
	border-radius: 9px;
}
.mail.copied
{
	animation: copied 2s 1;
	
}
@keyframes copied{
	0%{text-indent: -10px;color:transparent;}
	20%{text-indent: 0px;color:var(--fntClr);}
	80%{text-indent: 0px;color:var(--fntClr);}
	100%{text-indent: 10px;color:transparent;}
}
.credit
{
	position: absolute;
	bottom: 20px;
	left: calc(50vw - 75px);
	background:url('mb4w.svg') left no-repeat;
	background-size:201px;
	width: 151px;
	height: 50px;
	transition: all .12s ease-in-out;
	overflow: hidden;
}
.credit:hover
{
	width: 201px;
	transform: scale(105%);
	background-color:black;
}
/*
*/
/*
.bigCard
{
	margin:5%;
	padding:30px;
	width: calc(90% - 60px);
	background: #FFFFFF15;
	background: #B67CBA90;
	outline: 1px solid #FFFFFF50;
	border-radius: 10px;
	position: relative;
}
.card.text
{
  left:0;
	margin: unset;
	margin-bottom:20px;
	width: 100%;
}
/*
.socials{background:green;}
.tiktok{background-color: #00000050}
#links{background:red;}
.linkPage:nth-child(2){background-color: #00000050}
.title{background:red;}
#title{background:#e385d0;}

