:root{
	--1c:#FFD9E7;
	--1ch:#FFF;
	--1s:#fff5f8;
	--1sh:#FFF;
	--1co:#622947;
	--1coh:#622947;
	
	--2c:#622947;
	--2ch:#792e56;
	--2s:#8a4369;
	--2sh:#ae5c87;
	--2co:#FED9E5;
	--2coh:#FED9E5;
	
	--bg1:#812E53;
	--bg2:#ac4374;
	--bg3:#D04B77;
	
	--brdrR:42px;
	--boxs1:inset 0px 20px 23px var(--1s);
	--boxs1h:inset 0px 20px 23px var(--1sh);
	--boxs2:inset 0px 20px 23px var(--2s);
	--boxs2h:inset 0px 20px 23px var(--2sh);
	--boxs3:inset 0px 20px 23px var(--3s);
	--boxs3h:inset 0px 20px 23px var(--3sh);
	
	--:#;

}
@media (prefers-color-scheme: dark) {
	:root{
		/*
	--1c:#9f4675;
	--1ch:#CE6B9F;
	--1s:#b3627d;
	--1sh:#DDA0C0;
	--1co:#FED9E5;
	--1coh:#622947;
	
	--2c:#622947;
	--2ch:#792e56;
	--2s:#8a4369;
	--2sh:#ae5c87;
	--2co:#FED9E5;
	--2coh:#FED9E5;
	
	--bg1:#4D1C32;
	--bg2:#512037;
	--bg3:#752D45;
	
	--brdrR:42px;
	--boxs1:inset 0px 20px 23px var(--1s);
	--boxs1h:inset 0px 20px 23px var(--1sh);
	*/ /*! --boxs2:inset 0px 20px 23px var(--2s); */ /*! --boxs2h:inset 0px 20px 23px var(--2sh); */ /*
	--boxs3:inset 0px 20px 23px var(--3s);
	--boxs3h:inset 0px 20px 23px var(--3sh);
  	}
		#bgL,#bgR
		{
		filter:brightness(55%)
	  }
		*/
		  /*alternate*/
	
	--1c:url('bg.png') #FFD9E7;
	--1c:#F1FFCC;
	--1ch:#FFF;
	--1s:#F1FFE0;
	--1sh:#FFF;
	--1co:#1f281d;
	--1coh:#622947;
	
	--2c:#9dd566;
	--2ch:#792e56;
	--2s:#89d567;
	--2sh:#ae5c87;
	--2co:#E9FFF0;
	--2coh:#FED9E5;
	
	--bg1:#812E53;
	--bg2:#ac4374;
	--bg3:#D04B77;
	
	--brdrR:10px;
	--boxs1:inset 0px 20px 23px var(--1s);
	--boxs1h: 0px 20px 23px var(--1sh);
	--boxs2:inset 0px 20px 23px var(--2s);
	--boxs2h: 0px 20px 23px var(--2sh);
	--boxs3: 0px 20px 23px var(--3s);
	--boxs3h: 0px 20px 23px var(--3sh);
	
	
	}
	.card.event,.card.drawer,.tiktok,.instagram,.spotify
	{
		border-radius: 99px !important;
	}
	*/
}
html{
	scroll-behavior: smooth;
	-webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body
{
	margin:0px;
	position:absolute;
	top:0;
	left:0;
	height: 100vh;
	width: 100%;
	font-family: 'Rubik';
  font-weight: 400;
	background-blend-mode:;
	background-repeat: repeat;

}
@font-face
{
  font-family: 'Rubik', sans-serif;
  font-family: 'Reenie Beanie', cursive;
  font-family: 'Reem Kufi', sans-serif;
}
.on
{
  animation:pageSlideIn .12s 1 !important;
	display: block !important;
}
@keyframes pageSlideIn
{
	0%{opacity:0;margin-top:5px};
	100%{opacity:0;margin-top:0%};
}
.off
{
	display:none;
}
#bg
{
	position: fixed;
	height: 100vh;
	width:100%;
	left:0%;
	background-image: linear-gradient(90deg, var(--bg1) 0%,  var(--bg2) 50%,  var(--bg3) 100%);
	background-image:url('backg.png');
	background-position: left;
	background-size: 100% 100%;
	z-index: -2;
	/*box-shadow: 200px 200px 200px -200px rgba(128,0,255,.08) inset, -200px -200px 200px -200px rgba(0,255,240,.08) inset;	*/

}
#bgL,#bgR
{
	position: fixed;
	top:0%;
	height: 100%;
	z-index: -1;
	width: 100%;
		background-size: auto 100% !important;
}
#bgL
{
	left:0%;
	background:url('bgLeft.png')  no-repeat;		
	background-position: left;
	
	
}
#bgR
{
	background:url('bgRight.png')  no-repeat;		
	right:0%;
	background-position: right;
}
.tiktok,.spotify,.instagram,.drawer,#drawerIcon,#drawerIconClose,#title
{
	cursor: pointer;
}
/*
header
{
	position: fixed;
	height: 10%;
	width: 100%;
	top:0%;
	left:0%;
	z-index: 60;
}*/
button
{
	border: none;
}
header
{
	position: fixed;
	height: 8%;
	width: 90%;
	top:2.5%;
	left:5%;
	z-index: 60;
}
.page
{
	display:none;
  animation:none;
}


.card
{	
	position: relative;
	float:top;
	margin: 5% 5% 0%;
	width: 90%;
  border-radius: var(--brdrR);
	background: var(--1c);
	box-shadow: var(--boxs1);
	transition: background .08s, box-shadow .08s ,border .08s;
}

#title
{
	position: absolute;
	height: 100%;
	width: 100%;
	top:0%;
	left:0%;
	z-index: 61;
  font-family: 'Reenie Beanie', cursive;
	background: var(--2c);
	color: var(--2co);
	font-size:35px;
	border-radius: 0px 0px var(--brdrR) var(--brdrR);
	overflow: hidden;
	box-shadow: var(--boxs2);
}

#bgHeader
{
	position: fixed;
	height: 10vh;
	width: 90%;
	bottom:0%;
	margin-bottom:93vh;
	left:5%;
	background: var(--2c);
	box-shadow:var(--boxs2);
	border-radius: 0px 0px 10px 10px;
}
#drawerIcon,#drawerIconClose
{
	position: absolute;
	height: 100%;
	width: 20%;
	top:0%;
	left:0%;
	z-index: 62;
	background-size:60% !important;
	display:none;
}
#drawerIcon
{
	background:url('hamburger.svg') center no-repeat;		
}
#drawerIconClose
{
	background:url('close.svg') center no-repeat;		
}
#drawerOverlay
{
	display: none;	
	position: absolute;
	height: 100vh;
	width: 100%;
	/*! top:10vh; */
	left:0%;
	z-index: 50;
	/*! background: var(--pri); */
}

#credit
{
	position: absolute;
	text-align: center;
	bottom:20px;
	width:100%;
	font-size:10px;
	color:var(--2co);
}
.card.drawer
{
	position: relative;
	float:top;
	height: 10%;
	/*! width: 100%; */
	font-size:3vh;
	/*! margin:5% 0% 5% 0%; */
	background:none;
	letter-spacing: 0.26em;
	font-family: 'Reem Kufi';
	background:var(--1c);
	color:var(--1co);

}
.card.tiktok,.card.instagram,.card.spotify
{
	background-blend-mode:difference;
	position: relative;
	float:left;
	height: 10%;
	width: 42.5%;
	width: 27.77%;
	box-shadow: var(--boxs2);
}
.card.tiktok
{
	background:url('tik.svg') center no-repeat var(--2c) !important;		
	background-size:50%;
	margin:5% calc(5%/3) 5% 5% !important;

}
.card.instagram
{
	background:url('ing.svg') center no-repeat var(--2c) !important;		
	background-size:60%;
	margin:5% calc(5%/3) 5% calc(5%/3) !important;

}
.card.spotify
{
	background:url('spo.png') center no-repeat var(--2c) !important;		
	background-size:34% !important;
	margin:5% 5% 5% calc(5%/3) !important;

}

.space
{
	position: relative;
	float:top;
	height: 10vh;
	width: 100;
}

img.card
{
	background:black;
	box-shadow: none;
}
.card.text
{
	width: 80%;
	padding: 5%;
	color:var(--1co);
	font-size: 1.9vh;
	font-size: 14px;
	line-height: 150%;
	/* or 26px */

	/*! display: flex; */
	/*! align-items: center; */
	text-align: center;
}
.card.event
{
	position: relative;
	height: 6vh;
	width: 80%;
	padding: 5%;
	font-size: 1.5vh;
	line-height: 150%;
	display: flex;
	align-items: center;
	text-align: center;
	color:var(--1co);
  animation:slideIn .5s once;
}
@keyframes slideIn
{
	0%{margin-top:8%};
	100%{margin-top:0%};
}
.event.date,.event.place
{
	position: relative;
	float:left;
}
.event.date
{
	width: 20%;
}
.event.number,.event.month
{
	float:top;
}
.event.number
{
	font-size: 5vh;
	padding: 10% 0%;
  font-weight: bold;
}
.event.month
{
	font-size: 2vh;
	
}
.event.place
{
	width:80%;
	height: 100%;
	align-items:  center;
}
.event.name,.event.adress
{
	position: absolute;
	
	font-size: 18px;
	width: 100%;

}

.event.name
{
  bottom:50%;
}
.event.adress
{
  top:50%;
	
}



=
@media (min-width:500px)
{
}
@media (min-width:500px) and (max-width:1000px)
{
  body
	{
		left:calc(50% - 250px);
		width: 500px;
	}
	header,  #bgHeader
	{
		left:calc(50% - 225px);
		width: 450px;
	}
}
@media (min-width:1000px)
{
  #drawerIcon,#drawerIconClose,#bgHeader
	{
		display: none !important;
	}
		#title
	{
		font-size:50px;
		border-radius: var(--brdrR) !important;
		font-stretch:condensed !important;
		margin-left:5%;
		width: 90%;
	}
	#drawerOverlay
	{
		position:  fixed;
		
		display: block !important;
		top:10%;

	}
}
@media (min-width:1000px)
{
	
  body
	{
		left: 10%;
		left: calc(50% - 250px - 150px);
		width: 500px;
	}
		header
	{
		left: calc(50% + 80px);
    top:12.5%;
		width: 850px;
		width: 400px;
	}

 #drawerOverlay
	{
		height: 100%;
		width: 400px;
		left: calc(50% + 80px);
	}
	.card.drawer:hover
	{
		background: var(--1ch);
		color:var(--1coh);
		box-shadow: var(--boxs1h);
	}
	.card.spotify:hover,.card.instagram:hover,.card.tiktok:hover,#title:hover
	{
		background-color: var(--2ch) !important;
		box-shadow: var(--boxs2h);
	}
}





.artistBlock
{
	position: relative;
  margin:20%;
	float: top;
	z-index: 50;
	
	
}
.artistBlock.f4
{
	margin-bottom:30%;
}
button.artName
{
	box-shadow: 0px 0px 0px 1px var(--dColor);
}
.artistBlock.main
{
  width: 60%;
}
.artistBlock.sec
{
  width: 60%;
}
.artPic
{
	width: 100%;
	z-index: 50;
	border-radius: 2px 2px 0px 0px;
}
button.artName
{
	position: absolute;
	bottom:-15%;
	left:0;
	padding:5%;
	width: 100%;
	border: none;
	font-size: 2vh;
	font-family: 'Comfortaa';
	text-align: center;
	background: var(--aColor);
	color: var(--bColor);
  background-image: linear-gradient(-26deg,rgba(128,0,254,.02),rgba(0,255,240,.02)) ;
	
}
.artBtns
{
  position:absolute;
	margin-bottom:0%;
	top:0%;
	right: 0;
	width: 20%;
	box-shadow: -.5px .5px 0px .5px var(--dColor);
	background: var(--aColor);
}
.sp
{
	position: absolute;
	top:50%;
	left:20%;
	height: 1px;
	width: 60%;
	background: var(--dColor);
	z-index: 52;
}


.artBtns
{
	border-radius: 0px 2px 0px 2px;
	overflow: hidden;
}
.artName
{
	border-radius: 0 0 2px 2px;
}
.artistBlock
{
	border-radius: 2px;
}
/**/
.artistBlock
{
	box-shadow: 0px 0px 0px 1px var(--dColor),
		0px 60px 30px -10px rgba(0, 0, 0, .2),
		  0px -20px 30px -10px rgba(0, 0, 0, .2);
}


/*@media (min-width:700px) {
	.column
	{
		position: relative;
		float:left;
		height: 100%;
		width: 50%;
	}
	.artistBlock.f1,.artistBlock.f2
	{
		margin:20%;
		margin-right:10%;
	}
	.artistBlock.f3,.artistBlock.f4
	{
		margin:20%;
		margin-left:10%;
	}
	.artistBlock.f1,.artistBlock.f3
	{
		margin-bottom: 30%;
	}
	body,#bg
	{
		height: 100%;
	}
	
}

@media (min-aspect-ratio:1/1)
{
.column
	{
		position: absolute;
		height: 100%;
		width: 20%;
	}
	.column.c1
	{
		right:50%;
	}
	.column.c2
	{
		left:50%;
	}
	body
	{
		height: 100%;
	}
}

/* alt stlye*/
/**
.artistBlock
{
	padding:5%;
	background:var(--aColor);
}
button.artName
{
	box-shadow: 0px .5px 0px .5px var(--dColor);
}
.artPic
{
	border-radius: 4px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,.5);
}
button.artName
{
	position: absolute;
	bottom:-15%;
	left:0;
	padding:5%;
	width: 100%;
	border: none;
	font-size: 2vh;
	font-family: 'Comfortaa';
	text-align: center;
	background: var(--aColor);
	color: var(--bColor);
}
.artBtns
{
	box-shadow: none;
}
